
/*
**    Menus for Right Sidebar Region
*/
.navbar-header, .navbar {
	max-height: 34px; /*50px*/
}

/* Main Menu */
.primary-menu-wrap {
    /*height: 34px;*/
}

.menu-base-theme > li {
    padding: 0;
	background: none;
	/*min-width: 128px;*/
    text-align: center;
}

.menu-base-theme > li li {
    text-align: left;
}

ul.menu-base-theme > li:hover {
    /*background: #dbdcdd none repeat scroll 0 0;*/
	background: #eee none repeat scroll 0 0;
	/*border-bottom: 1px solid #303c49;*/
}

ul.menu-base-theme > li > a {
    margin-top: 5px;
	margin-bottom: 5px;
    height: 24px;
    padding: 0px 24px 0px 24px;
    font-family: "Arial";
}
/* icone de dropdown */

nav > ul > li > a > span {
	display: none;
}

.primary-menu-wrap, .region-primary-menu, .menu-base-theme li a {
    background: #eee;
    color: #333;
    font-size: 12pt; /*TODO: pós retirada font-size: 16px;*/
	/*height: 34px;*/
}

.menu-base-theme a:hover, .menu-base-theme a:focus, .menu-base-theme a:active, .menu-base-theme a.highlighted {
    color: #333;
	text-decoration: none;
	/*background: #dbdcdd none repeat scroll 0 0;*/
	background: #eee none repeat scroll 0 0;
	padding: 0px 24px;
    /*border-bottom: 1px solid #303c49;*/
}

.menu-base-theme ul a:hover, .menu-base-theme ul a:focus, .menu-base-theme ul a:active, .menu-base-theme ul a.highlighted {
    color: #333;
    background: #dbdcdd none repeat scroll 0 0;
	padding: 5px 24px;
}

/* Fix Base Theme */
.region-sidebar-second nav h2 {
    display: block;
}




div.region-sidebar-second > nav > ul > li:nth-child(1) > a {
    background-image: url("../images/icones - lateral (2).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(2) > a {
    background-image: url("../images/icones - lateral (1).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(3) > a {
    background-image: url("../images/icones - lateral (4).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(4) > a {
    background-image: url("../images/icones - lateral (3).png");
}
div.region-sidebar-second > nav > ul > li:nth-child(5) > a {
    background-image: url("../images/icones - lateral (5).png");
}
div.region-sidebar-second > nav > ul > li:nth-child(6) > a {
    background-image: url("../images/icones - lateral (6).png");
}
div.region-sidebar-second > nav > ul > li:nth-child(7) > a {
    background-image: url("../images/icones - lateral (7).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(8) > a {
    background-image: url("../images/icones - lateral (8).png");
}



/* Title */
.region-sidebar-second nav h2 {
    border-bottom: 2px solid #676767;
    color: #444444;
    /*font-family: "Open Sans";*/
    font-size: 1.25em;
    margin: 0 0 0 14px;
    padding: 18px 0 6px 0;
    text-transform: uppercase;
    line-height: 30px;
}

.region-sidebar-second nav h2::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v7.png") repeat scroll 0px 0px;
    height: 32px;
    width: 32px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 20px;
}

/* Menu font for estrutura do tribunal */
/*.region-sidebar-second #block-novoportal-menuestruturadotribunal-2-menu {
    font-size: 1.1em;
    line-height: 32px;
}*/

/* Icon for Menu example */
/*.region-sidebar-second nav #block-useraccountmenu-menu::before {
    background-position: -330px 0px;
    margin: 0 5px 0 20px;
}*/

/*
**    Menus for Content Region
*/

/* Home Menus */
/*.region-sidebar-second #block-menu-menu-servicos + div h2 {
    margin-top: 0px;
}

.region-sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2 {
    font-size: 1.2em;
    line-height: 32px;
}

.region-sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2::before {
    background-position: -368px 0px;
    margin: 0 5px 0 20px;
}*/

@media (max-width: 767px) {
	
	body > div > div.row.primary-menu-wrap > div > div > div {
		padding: 0;
	}
	
	nav.navbar.navbar-default > a.nav-toggle {
		display: none;
	}
	
	body > div > div.row.primary-menu-wrap {
		margin-right: 0px;
		margin-left: 0px;
	}
	
	div#wrapper > div.container > div.row.layout > div.sidebar {
		margin: 0px 10px 0px 10px;
	}	
	ul#main-menu > li > a > span {
		display: block;
		/*margin-top: -10px;*/
	}
	
	.menu-base-theme a span.sub-arrow {
		padding: 0px;
		border: none;
	}

	nav.navbar.navbar-default > a.nav-toggle {
		display: block;
		text-align: center;
		color: black;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.navbar {
		min-height: 34px; /*50px*/
	}
	
	/*#block-novoportal-main-menu {
		margin-top: 50px;
	}*/
	
	body > div > div.row.primary-menu-wrap > div > div > div > nav > div {
		float:left;
		display: none;
		width: 100%;

	}
	
	.region-primary-menu {
		display: none;
	}
	
	ul.menu-base-theme > li > a {
		border-right: none;
		
	}
	
	ul.menu-base-theme li a {
		text-align: center;
		font-variant: all-petite-caps;
		font-size: 15pt;
	}
	
	.menu-base-theme ul {
		padding: 0;
		background-color: #fff;
		background: rgba(255, 255, 255, 0.74);
	}
	
	.menu-base-theme > li {
		border-top: 1px solid;
		/* margin-top: -1px; */
	}
	
	.menu-base-theme ul > li, .menu-base-theme ul li:first-child {
		border-top: 1px solid #a8a8a8;
	}
	
	.menu-base-theme ul {
		border: 0px;
	}
	
	/* menu lateral */
	
	div.region-sidebar-second {
		display: none;
	}
	
	/*div.region-sidebar-second > nav > ul.menu > li {
		width: 50%;
		float: left;
		margin: 0 auto;
	}
	
	.region-sidebar-second ul.menu li:nth-child(1), .region-sidebar-second ul.menu li:nth-child(2) {
		border-top: 1px solid #b2c6d2;
	}
	
	div.region-sidebar-second > nav > ul.menu > li > a {
		width: 100%;
	}
	
	div.region-sidebar-second > nav > ul.menu li a {
		padding-left: 40px;
	}

	div.region-sidebar-second > nav > ul.menu > li:nth-child(5),
	div.region-sidebar-second > nav > ul.menu > li:nth-child(6) {
		max-height: 65px !important;
	}
	
	div.region-sidebar-second > nav > ul.menu > li:nth-child(6) > a {
		background-image: url("../images/icones - lateral (6).png");
		margin-top: -5px;
	}
	
	ul.menu-base-theme ul a {
		background-color: lightgray;
	}
	
	.menu-base-theme a span.sub-arrow {
		background: none;
	}*/
}

/*
    Menu Serviços Página inicial
*/

.menu_right  ul {
    list-style: none;
}

.menu_right  li {
    border-top: none;
    border-bottom: solid 1px #d1e4f0;
    padding: 5px 0 5px 4px;
    line-height: 48px;
    width: 268px;
}

.menu_right li.menu_right_pje {
    border-top: solid 1px #d1e4f0;
}

.menu_right  li a {
    padding: 4px 0 5px 0;
    text-decoration: none;
    color: #01426a;
    font-weight: bold;
    font-size: 14px;
    display: initial;
    font-family: inherit;
}

.menu_right  li.first:hover {
    border-top: solid 1px #d1e4f0;
}

.menu_right  li:hover {
    border-right: solid 1px #d1e4f0;
    padding: 5px 0 5px 0px;
    background: #f0f3f5 none repeat scroll 0 0;
}

.menu_right li:hover {
    border-left: 4px solid #303c49;
}

.menu_right a:hover {
    opacity: 0.7;
}

.menu_right_pje::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: -48px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}
.menu_right_certidoes::before  {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 3px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}

.menu_right_pautas::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 329px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}

.menu_right_recolhimento::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 391px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}

.menu_right_varas::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 273px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}

.menu_right_diario::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 205px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}

.menu_right_concursos::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 135px 0px;
    height: 50px;
    width: 50px;
    margin: 0 8px 0 13px;
    content: ".";
    color:
    transparent;
    display: inline-block;
}

.menu_right_resolucoes::before {
    background: url(../images/icons_right.png) repeat scroll 0px 0px;
    background-position: 63px 0px;
    height: 50px;
    width: 50px;
    margin: 0 16px 0 13px;
    content: ".";
    color:transparent;
    display: inline-block;
}

/*######### estilo dportal*drupal7 * by Marcos ########### */
