/*
**	Views página inicial
*/

header > div > div > div.views-field.views-field-field-noticia-imagem-destaque {
	float: left;
	margin-right: 20px;
}

header > div > div > div.views-field.views-field-title {
	margin-bottom: 20px;
}

header > div > div > div.views-field.views-field-field-noticia-substitulo {
	
}

header > div > div > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img
{
	width: 346px;
	height: 231px;
}

header > div > div > div.views-field.views-field-title > span > a {
	
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: #01426a;
}

header > div > div > div.views-field.views-field-field-noticia-substitulo > div {
	font-family: Arial;
	font-size: 16px;
	color: #333333;
}

div.view-pagina-inicial > header > div > footer{
	margin-top: 20px;
}

div.view-pagina-inicial > header > div > footer > a{
	color: #333333;
}

div.view-pagina-inicial > div {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.view-pagina-inicial > div > div > div.views-col.col-2,
div.view-pagina-inicial > div > div > div.views-col.col-1 {
	padding-right: 20px;
}
div.view-pagina-inicial > div > div > div.views-col.col-3 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img,
div.view-pagina-inicial > div > div > div.views-col.col-2 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img,
div.view-pagina-inicial > div > div > div.views-col.col-1 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img {
	width: 275px;
	height: 182px;
}

div.view-pagina-inicial > div > div > div > div.views-field.views-field-title > span > a {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: 01426a;
	text-decoration: none;
}

@media (max-width: 767px) {
	
	div.view-pagina-inicial > div {
		float: none;
	}
	
	.view-pagina-inicial > div {
		border-top: 1px solid #ccc;
		padding-top: 20px;
	}
	
	/* destaque principal */
	div.view-pagina-inicial > header > div > div > div.views-field.views-field-field-noticia-imagem-destaque {
		float: none;
		height: auto;
		margin: 0;
	}
	
	div.view-pagina-inicial > header > div > div > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img {
		width: 100%;
		height: auto;
	}
	
	div.view-pagina-inicial > header > div > div > div.views-field.views-field-title,
	div.view-pagina-inicial > header > div > div > div.views-field.views-field-field-noticia-substitulo
	{
		width: 90%;
		margin: 0 auto;
		padding-top: 10px;
	}
	
	div.view-pagina-inicial > header > div > div > div.views-field.views-field-title > span > a {
		/*font-size: 20pt;*/
	}
	
	div.view-pagina-inicial > header > div > div > div.views-field.views-field-field-noticia-substitulo > div {
		/*font-size: 16pt;*/
	}
	
	div.view-pagina-inicial > header > div > footer {
		display: none;
	}
	
	/* tres destaques secundarios */
	div.view-pagina-inicial > div > div > div > div.views-field.views-field-title {
		margin: 0 auto;
		width: 75%;
		padding-top: 5px;
	}
	
	div.view-pagina-inicial > div > div > div > div.views-field.views-field-title > span > a {
		/*font-size: 16pt;*/
	}
	
	div.view-pagina-inicial > div > div > div:not(:last-child) {
		border-bottom: 1px dashed #ccc;
	}
	
	div.view-pagina-inicial > div > div > div {
		width: 100% !important;
		text-align: center;
		margin-bottom: 20px;
		padding-bottom: 5px;
	}
	
	div.view-pagina-inicial > div > div > div.views-col.col-2,
	div.view-pagina-inicial > div > div > div.views-col.col-1 {
		padding-right: 0;
	}
	
	div.view-pagina-inicial > div > div > div.views-col.col-1 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img,
	div.view-pagina-inicial > div > div > div.views-col.col-2 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img,
	div.view-pagina-inicial > div > div > div.views-col.col-3 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img {
		width: 80%;
		height: auto;
	}
	
}

/* CSS para o conteúdo View v-noticias */
.jt-view-noticia-destaque > .views-row .views-field-field-image {
    float: left;
}

.jt-view-noticia-destaque .views-row > .views-field-field-image img:hover {
    border-bottom: 1px solid #37aaf2;
    color: #0b6aa5;
}

.jt-view-noticia-destaque >  .views-row .views-field-title {
    float: left;
    width: 56%;
    padding: 0 0 0 10px;
    
}

.jt-view-3-noticias-com-imagem .views-field-title  a:hover {
    border-bottom: 1px solid #37aaf2;
    color:#0b6aa5
}

.jt-view-noticia-destaque >  .views-row .views-field-title a {
    color: #0b3a75;
}

.jt-view-noticia-destaque >  .views-row .views-field-title a {
    font-size: 20px;
    font-weight: bold;
}


.jt-view-noticia-destaque >  .views-row .views-field-body {
   float: left;
   width: 54%;
   margin-top:17px;
   padding: 0 0 0 10px;
   font-size: 16px;
   text-align: justify;
}

.jt-view-noticia-destaque > .views-row .views-field-body p {
    color: #666666;
}

.jt-view-noticia-destaque >  .views-row {
    height: 217px;

}

.jt-view-noticia-destaque >  .views-row .views-field-view-node  span {
    padding: 18px 0 0 10px;
    display: inline-block;
    font-style: italic;
}



/* CSS para o rodapé View v-noticias */
 .jt-view-3-noticias-com-imagem {
    clear: both;
}

.jt-view-3-noticias-com-imagem .views-field-title a {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #0b3a75;
}

.jt-view-3-noticias-com-imagem .views-field-title .field-content {
    display: inline-block;
    width: 100%;
}



.jt-view-3-noticias-com-imagem >  .views-field-title  {
    clear: both;
    padding-left: 0;
    width: 100%;
}

.jt-view-3-noticias-com-imagem > .views-row {
    width: 30%;
}

.jt-view-3-noticias-com-imagem > .views-row {
    float: left;
    width: 33.3%;
    padding: 0 0 0 5px;
}

.jt-view-3-noticias-com-imagem > .views-row-first {
    padding-left: 0;
}
.jt-view-noticias-sem-imagem {
    width: 49%;
    float: left;
}
/* CSS para a região content_bottom */
#content_bottom_wrapper {
    margin: 0 auto ;
    max-width: 1129px;
}


/* CSS para o bloco da View v-noticias */

#block-views-block-views-noticias-block-2 {
    float: left;
    width: 49%;
}

.jt-view-noticia-em-video {
    float: right;
    width: 49%;
    margin: 0 0 0 20px;
}

.region-content-bottom h2 {
    font-size: 22px;
    color: #2b4570;
    text-transform: uppercase;
    font-weight: bold;
}

.region-content-bottom  h2 {
    border-bottom: 3px solid #04785a;
    padding: 10px 0 0 0;
}

.jt-view-noticias-sem-imagem > .views-row .views-field-title a {
    font-size: 16px;
    font-weight: bold;
    word-spacing: 16px;
    text-decoration: none;
    color: #0b3a75;
}

.jt-view-noticias-sem-imagem > .views-row .views-field-body p {
    color: #666;
}

.jt-view-noticias-sem-imagem .views-row  {
    border-bottom: 2px dotted #04785a;
    margin-bottom: 16px;
    padding-bottom: 10px;
}
.view-footer-link {
    float:right;
    font-size: 1.15em;
}

.jt-view-noticias-sem-imagem .views-row:last-child  {
    border-bottom: none;
    margin-bottom: 16px;
    padding-bottom: 10px;
}

.jt-view-noticia-em-video .views-row video {
    height: 315px;
    width: 560px;
}

.jt-view-noticia-em-video .views-field-title {
border-bottom: 1px dashed #bbbaf5;
margin-bottom: 0px;
max-width: 727px;
padding-bottom: 15px;
font-size: 1.25em;
text-align: center;

}