/* style rodape */
/*############ footer ##############*/

.footer-menu {
    
    background: #23517e;
    border-top: none;
    
}

.bloco_footer {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.footer-menu ul {
	margin: 0px 0px 20px;
}
.logo_footer {
    width: 18%;
    border-right: 3px solid #fff;
}
.logo_footer img {
    width: 138px;
    height: 106px;
}
#block-rodape > div > div.logo_footer > div {
    background: url("../images/logo_footer.png");
    background-size: 127px;
    background-repeat: no-repeat;
    width: 127px;
    height: 96px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.endereco_footer {
    width: 23%;
    height: 120px;
}
.endereco_footer p {
    color: #fff;
    font-family: Overlock;
    text-align: left;
    font-size: 14px;
    margin-bottom: 0px;
}
.mapa_site {
    width: 18%;
    padding-left: 70px;
}
.mapa_site h2 {
    color: #fff;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}
.mapa_site ul {
    list-style: none;
}
.mapa_site ul li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-decoration: none;
}
.mapa_site ul li a .icon {
    margin-right: 3px;
    font-weight: bold; 
    color: #9bacb4;
}
.rede_social {
    width: 20%;
    float: right;
    margin-right: 0;;
}
.rede_social ul {
    list-style: none;
	float: right;
}

.rede_social ul:last-child {
    clear: both;
}
.rede_social ul li {
    float: left;
    margin-left: 10px;
}
.rede_social .social {
    width: 30px;
    height:30px;
    border-radius: 20px;
}
.rede_social .facebook {
    background: url("../images/social_icons.png");
    background-position: -1px 32px;
    
}
.rede_social .twitter {
    background: url("../images/social_icons.png");
    background-position: 220px 32px;
}
.rede_social .instagram {
    background: url("../images/social_icons.png");
background-position: 441px 31px;
    
}

.rede_social .flickr {
    background: url("../images/social_icons.png");
    background-position: 396px 32px;
}
.rede_social .youtube {
    background: url("../images/social_icons.png");
     background-position: 80px 32px;
}
.rede_social .exclamacao {
    display: block;
    width: 100%;
    clear: both;
    text-align: right;
    padding-top: 15px;
}
.rede_social .exclamacao img {
    width: 40px;
    height: 40px;
}
/*ajustes trt8 */
#block-menudorodape {
margin-bottom: 0;
}
@media (max-width: 991px) {
	
	.logo_footer {
		border: none;
	}
	
	div.footer-menu > div > div > div > div > div > div {
		text-align: center;
		font-size: 10pt;
		margin: 20px;
	}
	
	div.footer-menu > div > div > div > div > div > div > div.bloco_footer {
		margin-bottom: 20px;
	}
	
	div.footer-menu > div > div > div > div > div > div > div.endereco_footer p {
		font-size: 10pt;
		text-align: center;
	}
	
	.rede_social ul {
		list-style: none;
		float: none;
	}
	
	.rede_social{
		display:none;
	}
	
}
	
@media (max-width: 767px) {
	
	.logo_footer img {
		height: 120px;
		margin-top: -85px;
	}
	
	.logo_footer, .mapa_site, .rede_social{
		display:none;
	}

	/*#block-views-block-view-bloco-de-programas-nacionais-block-prog-da-jt {
		margin-bottom: 5px;
	}*/

	div > div > div > div > div.region-bottom-wrapper {
		margin-top: -20px;
	}
	
}



