/*
** CSS core
*/

body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;

}




.footer {
    background: #4a6279;

}

.footer_box {
    display: inline-block;
    vertical-align: top;
    font-size:0.8em;
    margin:70px 100px 0px 33px;
    padding: 0px 0 0 10px;
    color: white;
}

.footer_box ul {
    list-style: none;
    padding: 0;
}


.footer_content {
    margin: 0 auto;
    max-width: 95%;
}

