/*banner central */
.banner-central-wrapper {
  width: 100%;
}
.banner-central {
  width: 100%;
  margin: 0 auto;
  height: 309px;
  background-image: url('../imagens_marcos/banner_2v.png');
  background-size: cover;
}
.banner-central .content {
  text-align: center;
  padding-top:10%;
}
.banner-central .content h1 {
  font-size: 3em;
}ls
.banner-central .content span {
  font-size: 1.2em;
}

/*sessao de servicos */
.servicos-wrapper {
  width: 100%;
}
.servicos-content {
  width: 100%;
  height: 200px;
  margin:0 auto;
  background-image: url('../imagens_marcos/bg_v3.png');
  color: #fff;
  box-shadow: -1px 6px 5px 0px rgba(206,206,206,1);

}
.servicos-content .alinhamento {
 width: 1129px;
 margin: 0 auto;
}
.servicos-content h2 {
 margin-top: 4px;
}
.servicos-content .servico {
  float: left;
  text-align: center;
  padding-left: 47px;
  width: 20%;
  font-size: 0.7em;
}
.icon_acesso_rapido {
 width: 142px;
 height: 115px;
}
.acesso_befeciciario {
  background-image: url('../img/icons.png');
  background-position: 0px 1px;
}
.acesso_credenciados {
  background-image: url('../img/icons.png');
  background-position: -185px 0px;
}
.acesso_gestores {
  background-image: url('../img//icons.png');
  background-position: -370px 0px;
}
.acesso_peritos {
  background-image: url('../img//icons.png');
  background-position: -368px 0px;
}
.servicos-content .servico h2 {
 padding-right: 36px;
}
.servicos-content .servico img {
  width: 70px;
  height: 80px;
}
.title-services {
  text-align: center;
  padding-top: 10px;
}

/*links uteis */
.links-uteis-wrapper {
  width: 100%;
}
.links-uteis-content {
  width: 1129px;
  margin:0 auto;
  padding-top: 15px;
}
.links-uteis-content .link-item {
  margin-left: 18px;
 width: 29%;
 height: 110px;
 padding-left: 7px;
 float: left;
 border-left: 10px solid;
/* border-image-source: linear-gradient(10deg,#2b99aa, #035282);
 border-image-slice: 1;*/
border-radius: 4px;
border-style: solid;
border-width: 23px 0px 27px 7px;
-moz-border-image: url(../imagens_marcos/border_png.png) 8 0 27 7 stretch;
-webkit-border-image: url(../imagens_marcos/border_png.png) 8 0 27 7 stretch;
-o-border-image: url(../imagens_marcos/border_png.png) 8 0 27 7 stretch;
border-image: url(../imagens_marcos/border_png.png) 8 0 27 7 fill stretch;
 box-shadow: 0px 0px 5px 0px rgba(206,206,206,0.94);
 padding-top: 6px;
 padding-bottom: 6px;
 padding-right: 7px;
}
.links-uteis-content .link-item .topo-item {
  height:63px;
}
.links-uteis-content .link-item .topo-item img {
  float: left;
  width: 60px;
  margin-right: 11px;
}
.links-uteis-content .link-item .topo-item h2 {
  color: #a61933;
}
.links-uteis-content .link-item .corpo-item {
  margin-top: 12px;
  color: #535362;
  text-align: left;
  padding-left: 5px;
}
