/* Estilo topo */
.topo-wrapper {
  width: 100%;
  pad
}
.content-topo {
  width: 1129px;
  margin: 0 auto;
  padding-top: 10px;
  height: 60px;
}
.logo {
  width: 175px;
  height: auto;
  float: left;
}
.menu-topo {
  width: 656px;
  float: left;
  padding-left: 208px;
  margin-top: -5px;
}
.menu-topo a {
  text-decoration: none;
  color: #757584;
  font-size: 13px;
}
.menu-topo ul {
  list-style: none;
}
.menu-topo ul li {
  float: left;
  padding: 7px;
}
.telefone-menu-topo {
  color: #4993c2;
}
.pesquisa-right {
  width: 70px;
  float: left;
}
.btn_pesquisar {
  border: none;
  padding: 5px;
  width: 88px;
  background-color: #f2f6f9;
  color: #87c6e7;
}
.icon_pesquisa {
  margin-right: 5px;
}
