/*
** CSS core
*/

.news {
    margin: 202px 0 0 0;
}

.news_content{
    width: 1129px;
    margin: 0 auto;
}

.title_section h2 {
    font-size: 1.2em;
    color: #006db9;
}

.title_section {
    float: left;
    padding: 0 15px 0;
}

.view_more {
    float: right;
    right: 30px;
    width: 101px;
    background: #006db9;
    font-size: 0.8em;
    padding: 2px 10px 3px 10px;    
}

.view_more a {
    text-decoration: none;
    color: white;
}

.view_more a:hover {
    text-decoration: underline;
    
}

.news_box {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0 0px 16px 32px;
    font-size: 0.8em;
    margin: 25px 0 0;
}

.news_box p {

    color: #2c2c30;
}

.read_more {
    float: left;
    right: 30px;
    width: 101px;
    background: #006db9;
    font-size: 0.9em;
    padding: 8px 10px 8px 10px;
    margin: 60px 0 0 0;
    text-align: center; 
}

.read_more a {
    text-decoration: none;
    color: white;
}

.read_more a:hover {
    text-decoration: underline;
}

.marker_section {
    clear: both;
    color: #afd5ec;
}