/*
------------------------------ Defaults ------------------------------
*/

/* latin unicode-range */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('font/opensans-v14.woff2') format('woff2'), url('font/opensans-v15.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock Regular'), local('Overlock-Regular'), url('font/overlock-v6.woff2') format('woff2'), url('font/overlock-v7.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    font-family: 'Open Sans';
}

a,
 .ui-widget-content a {
    color: #0b3a75;
}

td {
    padding: 6px;
}

p {
    font-size: 1.15em;
    font-family: 'Open Sans';
    color: #333333;
    line-height: 1.4;
    letter-spacing: -0.3px;
    word-spacing: 3.3px;
}

.view-v-noticias .view-content p {
    color: #666666;
}

/*
------------------------------ Header ------------------------------
*/

/* page header */
#inner_header_wrapper {
    background: #303c49 url("../images/banner_topo_v15.jpg") repeat scroll 0 0;
}

.menu_wrapper {
    border-bottom: 3px double #aaa;
    box-shadow: 1px 1px 3px #e0e0e0 inset, -1px -1px 3px #e0e0e0;
}

#logo {
    margin: 3% 0 0;
}

#header_wrapper .menu_wrapper {
    background: #ffffff none repeat scroll 0 0;
}

#header_wrapper .menu_wrapper .menu_inner_wrap {
    max-width: 1020px;
}


#main-menu {
    width: 100%;
}

#main-menu > .menu-navigation-container > ul.menu {
    width: 100%;
}

#main-menu > .menu-navigation-container > ul.menu > li {
    width: 12%;
}

/* item do menu (jurusprudencia) */
#main-menu > .menu-navigation-container > ul.menu > li.first + li + li + li {
    
}

#main-menu > .menu-navigation-container > ul.menu > li > span.nolink,
  #main-menu > .menu-navigation-container > ul.menu > li > a {
    text-align: center;
    text-transform: uppercase;
}

#main-menu ul.menu li {
    border: medium none;
}

#main-menu ul.menu li a,
 #main-menu ul.menu li span.nolink {
    font-family: "Open sans";
    font-weight: normal;
    font-size: 1.1em;
    text-transform: none;
    letter-spacing: 0.05em;
    color: #333333;
    white-space: nowrap;
}

#main-menu ul.menu li span.nolink {
    padding: 8px 20px;
    display: block;
    cursor: default;
}

#main-menu ul.menu li ul {
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    display: none;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.176);
}

#main-menu ul.menu li ul li {
    width: 100%;
}

#main-menu ul.menu li ul li a {
    font-size: 1em;
    color: #303c49;
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    padding: 9px 40px 8px;
}

#main-menu ul.menu li:hover > a,
 #main-menu ul.menu li:hover > span.nolink {
    background: #e9e9e9 none repeat scroll 0 0;
    box-shadow: 1px 2px 1px #fff inset, -2px -2px 1px #fff inset;
    background: #ddd none repeat scroll 0 0;
    color: #303c49;
}


#main-menu ul.menu li ul li:hover > a,
 #main-menu ul.menu li ul li a.active {
    background: #e0e0e0 none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #f0f0f0 inset, -1px -1px 3px #e0e0e0 inset;
    color: #303c49;
    border: 1px solid white;
    padding: 8px 39px 7px;
}

/* /node page fix */

/*
#main-menu > div > ul.menu > li > a {
    background: #303c49 none repeat scroll 0 0;
}
*/

#main-menu li a.active {
    background: transparent none repeat scroll 0 0;
}

/* separator for Special menu items */
#main-menu ul.menu li > span.separator {
    display: block;
    height: 9px;
}

#main-menu ul.menu li > span.separator > hr {
    display: none;
}


/*
------------------------------ Sidebar ------------------------------
*/

body.one-sidebar #container .content-sidebar-wrap {
    width: 74%;
}

body.one-sidebar #container #sidebar-second {
    width: 26%;
    float: right;
}

#sidebar-second ul.menu li {
    margin: 0 0 0 5px;
    padding: 6px 0 6px 4px;
    background-image: none;
}

#sidebar-second ul.menu li.leaf {
    border-bottom: 1px dashed #bbbaf5;
}

#sidebar-second ul.menu li.first.leaf:hover {
    border-top: 1px dashed #bbbaf5;
    padding-top: 5px;
}

#sidebar-second ul.menu li:hover {
    border-right: 4px solid #303c49;
    padding: 6px 0 6px 0px;
    background: #f0f3f5 none repeat scroll 0 0;
    border-left: 1px dotted #303c49;
}

#sidebar-second ul.menu li.leaf:hover {
    border-left: 4px solid #303c49;
    border-right: 1px dashed #bbbaf5;
}

#sidebar-second ul.menu li a {
    color: rgb(60, 73, 114); /* rgb(0, 13, 54); */
    font-family: Overlock;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    padding: 4px 0 5px 15px;
    text-decoration: none;
    display: block;
}

/* Block on sidebar */
#sidebar-second .block > h2 {
    border-bottom: 2px solid #676767;
    color: #444444;
    font-family: "Open Sans";
    font-size: 1.4em;
    margin: 0 11px 0 14px;
    padding: 18px 0 6px 0;
    text-transform: uppercase;
    line-height: 30px;
}

#sidebar-second .block > h2::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v7.png") repeat scroll 0px 0px;
    height: 32px;
    width: 32px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 20px;
}

#sidebar-second .block + div h2 {
    margin: 20px 11px 0 14px;
}

#sidebar-second #block-system-navigation > h2 {
    padding: 10px 0 6px;
}

#sidebar-second #block-block-2 > h2 {
    font-size: 1.25em;
}

#sidebar-second #block-block-2 > h2::before {
    background-position: -330px 0px;
    margin: 0 5px 0 20px;
}

#sidebar-second #block-menu-menu-servicos + div h2 {
    margin-top: 0px;
}

#sidebar-second #block-menu-menu-servicos-aos-advogados > h2 {
    margin-top: 0px;
    padding-top: 7px;
}

#sidebar-second #block-menu-menu-servicos > h2::before {
    background-position: -515px 0px;
    margin: 0 5px 0 20px;
}

#sidebar-second #block-menu-menu-servicos-aos-advogados > h2::before {
    background-position: -406px 0px;
    margin: 0 5px 0 20px;
}

#sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2 {
    font-size: 1.2em;
    line-height: 32px;
}

#sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2::before {
    background-position: -368px 0px;
    margin: 0 5px 0 20px;
}

#sidebar-second #block-views-v-noticias-block-4 > h2 {
    font-size: 1.2em;
    line-height: 32px;
}

#sidebar-second #block-views-v-noticias-block-4 > h2::before {
    background-position: -141px 0px;
    margin: 0 5px 0 20px;
}

#sidebar-second #block-menu-menu-planejamento-institucional > h2 {
    font-size: 1.1em;
}

#sidebar-second #block-menu-menu-concurso-certidao > h2 {
    font-size: 1.2em;
}


#sidebar-second #block-menu-menu-estrutura-do-tribunal > h2 {
    font-size: 1.25em;
}

#sidebar-second #block-block-5 {
    border-left: 1px solid #dddddd;
    padding: 10px 0 0 5px;
}



.region-slideshow .block-menu-block .menu li,
 .region-slideshow .block-menu .menu li {
    width: 23%;
    min-width: 167px;
    display: inline-block;
    vertical-align: top;
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
    margin: 8px;
    padding: 0px;
    border: 1px dashed #e0e0e0;
}

.region-slideshow .block-menu-block .menu li:hover,
 .region-slideshow .block-menu .menu li:hover {
    background: #e7e7e7 none repeat scroll 0 0;
}

.region-slideshow .block-menu-block .menu li:hover a,
 .region-slideshow .block-menu .menu li:hover a {
    color: #0b3a75;
    text-decoration: underline;
}

.region-slideshow .block-menu-block .menu li a,
 .region-slideshow .block-menu .menu li a {
    font-family: 'Overlock';
    font-size: 1.4em;
    margin: 10px 18px;
    display: block;
    text-align: left;
}

.region-slideshow #post-content #block-menu-block-8 h2 {
    padding: 10px 0 5px 0;
}

.region-slideshow #post-content .block-menu-block h2,
 .region-slideshow #post-content .block-menu h2 {
    font-size: 1.25em;
    border-bottom: 2px solid #888888;
    text-transform: uppercase;
    padding: 0 0 5px 0;
    line-height: 33px;
}

.region-slideshow #post-content .block-menu-block h2::after,
 .region-slideshow .block-menu h2::after {
    background: none;
}

.region-slideshow #post-content .block-menu-block h2::before,
 .region-slideshow #post-content #block-menu-menu-pje-1-grau > h2::before,
 .region-slideshow #post-content #block-menu-menu-pje-2-grau > h2::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v7.png") repeat scroll 0px 0px;
    height: 32px;
    width: 32px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 20px;
}

.region-slideshow #post-content #block-menu-block-8 > h2::before {
    background-position: -515px 0px;
}

.region-slideshow #post-content #block-menu-block-9 > h2::before {
    background-position: -406px 0px;
}

.region-slideshow #post-content #block-menu-block-6 > h2::before {
    background-position: -551px 0px;
}

.region-slideshow #post-content #block-menu-block-7 > h2::before {
    background-position: -446px 0px;
}

.region-slideshow #post-content #block-menu-menu-pje-1-grau > h2::before,
 .region-slideshow #post-content #block-menu-menu-pje-2-grau > h2::before {
    background-position: -551px 0px;
}

.region-slideshow #block-menu-menu-pje-1-grau ul,
 .region-slideshow #block-menu-menu-pje-2-grau ul {
    text-align: center;
}

.region-slideshow #block-menu-menu-pje-1-grau ul li,
 .region-slideshow #block-menu-menu-pje-2-grau ul li {
    text-align: center;
}




/*
------------------------------ Content ------------------------------
*/


#content .block-menu-block .menu li,
 #content .block-menu .menu li {
    width: 23%;
    min-width: 167px;
    display: inline-block;
    vertical-align: top;
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
    margin: 8px;
    padding: 0px;
    border: 1px dashed #e0e0e0;
}

#content .block-menu-block .menu li:hover,
 #content .block-menu .menu li:hover {
    background: #084B5C none repeat scroll 0 0;
}

#content .block-menu-block .menu li:hover a,
 #content .block-menu .menu li:hover a {
    color: #ffffff;
    text-decoration: underline;
}

#content .block-menu-block .menu li a,
 #content .block-menu .menu li a {
    font-family: 'Overlock';
    font-size: 1.4em;
    margin: 10px 18px;
    display: block;
    text-align: center;
}

.page-node-111 #content .block-menu-block .menu li a,
 .page-node-111 #content .block-menu .menu li a {
    font-size: 1.2em;
}

.page-node-111 #content .block-menu-block ul.menu,
 .page-node-111 #content .block-menu ul.menu {
    text-align: center;
}

.page-node-111 #content #post-content .block-menu-block,
 .page-node-111 #content #post-content .block-menu {
    width: 200px;
    float: left;
    margin: 0 21px 0;
}

#content #post-content .block-menu-block h2,
 #content #post-content .block-menu h2 {
    font-size: 1.25em;
    border-bottom: 2px solid #888888;
    text-transform: uppercase;
    padding: 10px 0 5px 0;
    line-height: 33px;
}

#content #post-content .block-menu-block h2::after,
 #content .block-menu h2::after {
    background: none;
}

#content #post-content .block-menu-block h2::before,
 #content #post-content #block-menu-menu-pje-1-grau > h2::before,
 #content #post-content #block-menu-menu-pje-2-grau > h2::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v7.png") repeat scroll 0px 0px;
    height: 32px;
    width: 32px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 10px;
}

#content #post-content #block-menu-block-8 > h2::before {
    background-position: -515px 0px;
}

#content #post-content #block-menu-block-9 > h2::before {
    background-position: -406px 0px;
}

#content #post-content #block-menu-block-6 > h2::before {
    background-position: -551px 0px;
}

#content #post-content #block-menu-block-7 > h2::before {
    background-position: -446px 0px;
}

#content #post-content #block-menu-menu-pje-1-grau > h2::before,
 #content #post-content #block-menu-menu-pje-2-grau > h2::before {
    background-position: -551px 0px;
}

#content #block-menu-menu-pje-1-grau ul,
 #content #block-menu-menu-pje-2-grau ul {
    text-align: center;
}

#content #block-menu-menu-pje-1-grau ul li,
 #content #block-menu-menu-pje-2-grau ul li {
    text-align: center;
}

#block-block-6 {
    margin: 12px 0 12px 0;
}

/* Sidebar Inputs */
label.small {
    font-size: 0.9em;
    float: left;
}

label.small[for="iNrProcessoUnica"] {
    margin: 0 0 0 8px;
}

label.small[for="iNrProcessoDigitoUnica"] {
    margin: 0 0 0 21px;
}

label.small[for="iNrProcessoAnoUnica"] {
    margin: 0 0 0 9px;
}

label.small[for="iNrProcessoJusticaUnica"] {
    margin: 0 0 0 19px;
}

label.small[for="iNrProcessoRegiaoUnica"] {
    margin: 0 0 0 6px;
}

label.small[for="iNrProcessoVaraUnica"] {
    margin: 0 0 0 4px;
}

input.small {
    font-size: 0.9em;
    height: 24px;
    margin: 3px 2px 0 4px;
    padding: 0;
    float: left;
}

#iNrProcessoUnica {
    margin: 3px 2px 0 6px;
    width: 58px;
}

#iNrProcessoDigitoUnica, #iNrProcessoRegiaoUnica {
    width: 28px;
}

#iNrProcessoAnoUnica, #iNrProcessoVaraUnica {
    width: 40px;
}

#iNrProcessoJusticaUnica {
    width: 22px;
}

#consulta_enviar {
    float: right;
    height: 25px;
    margin: 5px 5px 0 0;
    padding: 2px 4px 3px 5px;
}

.consulta-info {
    padding: 8px 0 15px 8px;
    font-size: 0.9em;
    clear: left;
    margin: 0 0 10px;
}
/*
------------------------------ Content ------------------------------
*/

#breadcrumbs .breadcrumb {
    font-family: Open sans;
    font-size: 1.2em;
}

/* page title */
section h1.page-title,
 #content .content h1 {
    font-family: 'Open Sans';
    font-size: 1.3em;
    font-weight: bold;
    color: #303c49;
    display: inline-block;
    margin: 5px 0 5px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

section h1.page-title::after,
 #content .content h1::after,
 #content h2::after {
    background: #aac none repeat scroll 0 0;
    content: "";
    height: 1px;
    margin: 11px 0 0 5px;
    position: absolute;
    width: 100%;
}

section h6 {
    color: #666;
    font-size: 12px;
}

.node-type-noticia #content #breadcrumbs {
    display: none;
}

.node-type-noticia #content #post-content p {
    font-size: 1.3em;
    font-family: 'Open Sans';
    color: #333333;
    line-height: 1.5;
    letter-spacing: -0.7px;
    word-spacing: 3.3px;
}

.node-type-noticia #content #post-content .page-title {
    font-family: 'Open Sans';
    font-size: 2.5em;
    text-align: center;
    padding: 1% 5% 0;
}

.node-type-noticia #content #post-content .page-title::after {
   display: none;
}

.node-type-noticia #content .field-name-field-noticia-subtitulo .field-item {
    font-family: 'Open Sans';
    font-size: 1.3em;
    text-align: center;
    color: #606060;
    border-bottom: 1px solid #BBBBBB;
    padding: 0 4% 2%;
    margin: 0 0 2% 0;
    line-height: 1.5;
}

.node-type-noticia #content .field-name-field-noticia-imagem img {
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px 0px #CCC;
}

.node-type-noticia #content .field-name-field-noticia-legenda-da-imagem {
    padding: 3px 0 18px 0;
    font-family: "Open sans";
    font-size: 1.1em;
    text-align: justify;
}

.node-type-noticia #content video {
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px 0px #CCC;
}

.node-type-artigo-comissao-de-etica video {
    border: 2px solid black;
    margin: 0 auto;
}

.node-type-artigo-comissao-de-etica h3 {
    background-color: rgba(0,0,0,0.6);
    color: #ccf;
    font-weight: 600;
    padding: 5px 5px 5px 10px;
    width: 480px;
    margin: 0 auto 5px;
}

#content #post-content h2 {
    font-family: 'Open Sans';
    font-size: 1.1em;
    font-weight: bold;
    color: #303c49;
    display: inline-block;
    margin: 5px 0 5px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;      /* for title Views */
    border: none;    /* for title Views */
}

/* Fix h2 on View pagination to avoid margin over the window (vertical white border) */
#content #post-content h2.element-invisible {
    display: none;
}

#content #post-content h3 {
    font-family: 'Open Sans';
    font-size: 1.4em;
}

#content #post-content h4 {
    font-family: 'Open Sans';
    font-size: 1.1em;
}

#content #post-content h5 {
    font-family: 'Open Sans';
    font-size: 1em;
}

#content #post-content li {
    font-family: 'Open sans';
    font-size: 14px;
    letter-spacing: -0.3px;
    color: #333333;
    line-height: 1.5;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}


/* link hover */
.field-content a:hover {
    border-bottom: 1px solid #37aaf2;
    color: #0b6aa5;
}

.view-footer p a:hover {
    border-bottom: 1px solid #37aaf2;
    color: #0b6aa5;
}

.view-header p {
    margin: 0;
}

.view-v-youtube > div.view-content,
 .view-v-videos > div.view-content {
    border-bottom: 1px dashed #bbbaf5;
    margin: 0 0 10px;
}

.view-v-youtube table,
 .view-v-videos table {
    border: medium none;
}

.view-v-youtube td, .view-v-videos td {
    vertical-align: top;
    width: 50%;
    border: medium none;
    padding: 0 4px 0 4px;
}

.view-v-youtube .views-field-title,
 .view-v-videos .views-field-title {
    font-family: "Open Sans";
    font-size: 1.25em;
}

.view-v-youtube .views-field-field-youtube, .view-v-videos .views-field-field-noticia-youtube {
    border: 3px double #d3dcf0;
    box-shadow: 1px 0 3px #d3dcf0;
}

/*
----------------------------- Sitemap -----------------------------
*/

#footer-sitemap {
    margin: 20px 0 0 10px;
}

#footer-sitemap ul li {
    min-width: 12%;
    border-bottom: medium none;
}

#footer-sitemap ul li ul {
    margin: 0 0 20px 0;
}

#footer-sitemap ul li ul li {
    background: rgba(0, 0, 0, 0) url("../images/marker.png") no-repeat scroll 4px center;
}

#footer-sitemap ul li a.fs-root-link, #footer-sitemap ul li span.fs-root-link.nolink {
    font-size: 1.25em;
    padding: 0 0 6px;
    font-weight: 600;
    display: block;
}

#footer-sitemap ul li a,
 #footer-sitemap ul li span.nolink {
    font-size: 1.15em;
    font-family: Overlock;
    color: rgb(60, 73, 114);
    letter-spacing: 0.05em;
    display: block;
    padding: 3px 13px 3px 15px;
}

#footer-sitemap ul li ul li a:hover {
    text-decoration: underline;
}

#footer-sitemap ul li ul li a:focus {
    text-decoration: underline;
    border: medium none;
}

/*
--------------------------- Social icons ---------------------------
*/

.social-icons {
    margin: 3% 1.5% 0 0;
    width: 100%;
}

.social-icons ul {
    float: right;
}

.social-icons ul li {
    margin-left: 10px;
}

.social-icons li a {
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0) url("../images/social-icons_v4.png") repeat scroll 0 -47px;
}

.social-icons li a.instagram {
    background-position: 0 -33px;
}

.social-icons li a.instagram:hover {
    background-position: 0 0;
}

.social-icons li a.twitter {
    background-position: -66px -33px;
}

.social-icons li a.twitter:hover {
    background-position: -66px 0;
}

.social-icons li a.fb {
    background-position: -33px -33px;
}

.social-icons li a.fb:hover {
    background-position: -33px 0;
}

.social-icons li a.flickr {
    background-position: -99px -33px;
}

.social-icons li a.flickr:hover {
    background-position: -99px 0;
}

.social-icons li a.youtube {
    background-position: -132px -33px;
}

.social-icons li a.youtube:hover {
    background-position: -132px 0;
}

.social-icons li a.rss {
    background-position: -165px -33px;
}

.social-icons li a.rss:hover {
    background-position: -165px 0;
}

/*
---------------------------------- Views ---------------------------------
*/
.views-label {
    font-weight: 600;
}

/*
----------------------------- Views: Grid ----------------------------
*/

table.views-view-grid.cols-2 td {
    width: 50%;
    vertical-align: top;
}

table.views-view-grid.cols-3 td {
    width: 33%;
    vertical-align: top;
}

table.views-view-grid.cols-4 td {
    width: 25%;
    vertical-align: top;
}

.v-grid-mensal > .view-content > h3 {
    font-family: Open Sans;
    font-weight: 600;
    margin: 18px 0 0 0;
    text-transform: uppercase;
}

.v-grid-mensal > .view-content > h3 > p {
    font-size: 0.8em;
    font-family: Arial;
    font-weight: normal;
    text-transform: none;
    text-align: justify;
}

.v-grid-mensal > .view-content table {
    border: 0 none;
}

.v-grid-mensal > .view-content td {
    border: 1px dashed #bbbaf5;
}

.v-grid-mensal > .view-content .views-field-title {
    color: rgb(37, 87, 134);
    font-family: Overlock;
    font-size: 1.25em;
    letter-spacing: 0.05em;
}

.v-grid-revista .views-view-grid a {
    color: rgb(60, 73, 114);
    font-family: Overlock;
    font-size: 1.15em;
    text-align: center;
    display: block;
}

.v-grid-revista .views-view-grid img {
    margin: 0 auto;
    display: block;
}

.v-grid-revista .views-view-grid a:hover {
    border-bottom: medium none;
}

.v-grid-revista table.views-view-grid, .v-grid-revista .views-view-grid td {
    border: medium none;
}

.v-grid-iniciativas-do-tribunal > .view-header #post-content {
    margin: 0;
}

.v-grid-iniciativas-do-tribunal > .view-content table.views-view-grid {
    border: medium none;
    text-align: center;
    margin: 0 auto;
    background: #fbfbfb none repeat scroll 0 0;
    box-shadow: 1px 1px 0px #e0e0e0 inset,-1px -1px 1px #e0e0e0 inset;
    border-radius: 3px;
}

.v-grid-iniciativas-do-tribunal > .view-content table.views-view-grid td {
    border: medium none;
    text-align: center;
    margin-bottom: 0;
    background-color: transparent;
}

.v-grid-iniciativas-do-tribunal > .view-content .views-view-grid td {
    vertical-align: middle;
    position: relative;
}

.v-grid-iniciativas-do-tribunal > .view-content .views-view-grid td:hover {
    opacity: 0.7;
}

.v-grid-iniciativas-do-tribunal > .view-content .views-field-edit-node {
    position: absolute;
    right: 0;
    top: 0;
}

.v-grid-iniciativas-do-tribunal > .view-content a img {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
}

.v-grid-iniciativas-do-tribunal > .view-content a img:hover {
    background-color: transparent;
}

.v-grid-iniciativas-do-tribunal > .view-content a {
    display: block;
}

.v-grid-iniciativas-do-tribunal > .view-content a:hover {
    border: medium none;
    box-shadow: 1px 1px 3px #e0e0e0, -1px -1px 3px #e0e0e0;
}

.v-grid-noticias > .view-content .views-field-title {
    color: rgb(60, 73, 114);
    font-family: 'Open Sans';
    font-size: 1.2em;
    text-align: center;
    padding: 0 10px 7px;
    min-height: 62px;
    line-height: 40px;
}

.v-grid-noticias > .view-content .views-field-title span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.v-grid-noticias > .view-content .views-field.views-field-field-noticia-imagem > div {
    float: none;
    margin: 0;
}

.v-grid-noticias > .view-content img {
    margin: 0 auto;
}

.v-grid-noticias > .view-content .views-view-grid a:hover {
    border-bottom: medium none;
}

.v-grid-noticias > .view-content table.views-view-grid {
    border: medium none;
    background: transparent none repeat scroll 0 0;
}

.v-grid-noticias > .view-content .views-view-grid td {
    border: medium none;
    background: transparent none repeat scroll 0 0;
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
}

.v-grid-noticias > .view-content .views-view-grid td:hover {
    background: #f3f3f9 none repeat scroll 0 0;
}

.v-grid-noticias > .view-content .views-view-grid td:hover a {
    color: #0b3a75;
    text-decoration: underline;
}

.v-grid-noticias {
    border-bottom: 1px dashed #bbbaf5;
    margin-bottom: 11px;
}

.v-grid-noticias-video > .view-content table.views-view-grid {
    border: medium none;
}

.v-grid-noticias-video > .view-content .views-view-grid td {
    border: medium none;
    max-width: 364px;
}

.v-grid-noticias-video > .view-content .views-field-field-noticia-video {
    border: 3px double #d3dcf0;
    box-shadow: 1px 0 3px #d3dcf0;
}

.v-grid-noticias-video > .view-content {
    border-bottom: 1px dashed #bbbaf5;
    margin-bottom: 3px;
    max-width: 727px;
}

.v-grid-noticias-video > .view-content .views-field-title {
    color: rgb(60, 73, 114);
    font-family: 'Open Sans';
    font-size: 1.2em;
    text-align: center;
    padding: 0 10px 7px;
}

.v-hlist-as-menu-sidebar .item-list ul li { 
    background-image: none;
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
}

.v-hlist-as-menu-sidebar ul li.views-row-1 a {
    margin: 4px 1px 0 0;
}

.v-hlist-as-menu-sidebar ul li.views-row-1 a:hover {
    border-top: 1px dashed #bbbaf5;
    padding: 9px 0 11px 13px;
}

.v-hlist-as-menu-sidebar a { 
    border-bottom: 1px dashed #bbbaf5;
    color: rgb(60, 73, 114);
    display: block;
    font-family: Overlock;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    margin: 0 1px 0 0;
    padding: 10px 0 11px 17px;
    white-space: nowrap;
}

.v-hlist-as-menu-sidebar a:hover { 
    border-bottom: 1px dashed #bbbaf5;
    color: rgb(60, 73, 114);
    padding: 10px 0 11px 13px;
    border-left: 4px solid #303c49;
    border-right: 1px dashed #bbbaf5;
    background: #f0f3f5 none repeat scroll 0 0;
}

/*
----------------------------- Views: Accordion ----------------------------
*/

.ui-accordion .views-accordion-header {
    border: 1px dashed #bbbaf5;
    background: transparent;
}

.ui-accordion .views-accordion-header:hover a {
    text-decoration: none;
    border-bottom: none;
    margin-left: 13px;
}

.ui-accordion .views-accordion-header:hover.ui-corner-top a {
    text-decoration: none;
    border-bottom: none;
    margin-left: 16px;
}

.ui-accordion .views-accordion-header:hover .ui-icon {
    margin-left: -3px;
}

.ui-accordion .views-accordion-header:hover.ui-corner-top .ui-icon {
    margin-left: 0;
}

.ui-accordion .views-accordion-header:hover {
    background: #f0f3f5 none repeat scroll 0 0;
    border-left: 4px solid #303c49;
}

.ui-accordion .views-accordion-header:hover.ui-corner-top {
    background: transparent;
    border-left: 1px dashed #bbbaf5;
}

.ui-accordion .views-accordion-header a {
    color: rgb(60, 73, 114);
    font-family: Overlock;
    font-size: 1.15em;
    letter-spacing: 0.05em;
    padding: 10px 0 10px 15px;
    text-decoration: none;
    margin-left: 16px;
}

.ui-accordion .ui-accordion-content {
    border-top: none;
    border-bottom: 1px dashed #bbbaf5;
    border-left: 1px dashed #bbbaf5;
    border-right: 1px dashed #bbbaf5;
}

.ui-accordion h3 {
    font-weight: 600;
    margin: 18px 0 10px 12px;
    text-transform: uppercase;
}

/*
----------------------------- Views: Slideshow ----------------------------
*/

/* Anchor for slideshow pager and controls */
.views-slideshow-cycle-processed {
    position: relative;
    min-height: 196px;
}

/* Slideshow Link */
.views-slideshow-cycle-processed .field-content a:hover {
    border-bottom: medium none;
}

/* Slideshow Comissao de Etica */
.v-slideshow-campanhas {
    margin: 0 auto;
    max-width: 680px;
}

.v-slideshow-campanhas .vscc_controls_previous {
    position: absolute;
    left: -4%;
    top: 44%;
    z-index: 10;
}

.v-slideshow-campanhas .vscc_controls_next {
    position: absolute;
    right: -4%;
    top: 44%;
    z-index: 10;
}

.v-slideshow-campanhas .vscc_controls_pause {
    position: absolute;
    left: 0.5%;
    top: 82%;
    z-index: 10;
}

.v-slideshow-campanhas .views-slideshow-slide-counter {
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ccf;
    font-weight: 600;
    border-radius: 3px;
    min-width: 50px;
    text-align: center;
}


.v-slideshow-campanhas .views-field-title {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ccf;
    font-weight: 600;
    padding: 5px 5px 5px 10px;
}

.v-slideshow-campanhas .views-field-title a {
    color: #ccf;
}

.v-slideshow-campanhas .views-field-edit-node {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

/* Slideshow pager style */
#block-views-v-eslaides-block-1 {
    margin: 0 auto;
    max-width: 1129px;
}

.v-slideshow-eslaides > .view-content .views-field-edit-node {
    position: absolute;
    right: 0;
    top: 0;
}

.v-slideshow-eslaides .views-slideshow-pager-fields .views-slideshow-pager-field-item {
    float: left;
    padding: 1px 7px;
}

.v-slideshow-eslaides .views-slideshow-pager-fields .views-slideshow-pager-field-item a {
    color: #ccf;
}

.v-slideshow-eslaides .views-slideshow-pager-fields .views-slideshow-pager-field-item.active {
    background-color: #303c49;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.v-slideshow-eslaides .views-slideshow-pager-fields {
    position: absolute;
    bottom: 18px;
    left: 86.3%;
    z-index:100;
    background-color: rgba(0,0,0,0.6);
    border-radius: 6px;
    padding: 4px;
}

/* Slideshow responsive */
.views_slideshow_cycle_main { width: 100%; }
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame { width: 100% !important; height: auto; }
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row { width: 100% !important; height: auto; }
.views_slideshow_cycle_main .field-content { max-width: 100%; width: 100%; }
.views_slideshow_cycle_main .field-content img { max-width: 100%; width: 100%; height: auto; margin: 0; padding: 2px; }
.views_slideshow_cycle_main .field-content img[src$="file-edit-icon.png"] { width: auto; }

/*
----------------------------- Views: Table ----------------------------
*/

.views-table > caption {
    background: #303c49 none repeat scroll 0 0;
    box-shadow: 0 0px 3px inset;
    color: #fff;
    font-weight: bold;
    padding: 7px;
}

.views-table > thead > tr {
    background: #303c49 none repeat scroll 0 0;
    box-shadow: 0 0px 3px inset;
    color: #fff;
}

.views-table > thead > tr > th {
    background: transparent;
    font-family: Overlock;
    font-size: 1.2em;
}

/*
----------------------------- Regions -----------------------------
*/

.container-wrap {
    max-width: 1129px ;
}

#header .top_right {
    overflow: hidden;
}

.region-top-right {
    float: right;
    margin-right: 1.5%;
}

.region-accessibility-left {
    min-width: 55%;
    float: left;
}

.region-accessibility-right {
    min-width: 40%;
    float: right;
}

.region-accessibility-right > div:last-child {
    float: right;
/*    margin-right: 8%; */
}

#header > .accessibility {
min-height: 22px;

}

#header > .accessibility ul.menu  {
    margin: 0;
}

#header > .accessibility ul.menu li {
    margin: 2px 13px 1px 0;
    padding: 0 0 0 13px;
    float: left;
}

#header > .accessibility ul.menu li a {
    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    text-shadow: -1px -1px 2px #FFFFFF;
}

#header > .accessibility ul.menu li:hover {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 0px;
}

.region-footer {
    margin: 10px auto 50px;
    max-width: 1140px;
    padding: 0 0 0 10px;
}

#footer {
    padding: 0;
}

#footer #copyright {
    background: #303c49 none repeat scroll 0 0;
    border-top: 1px dotted #FFFF99;
    border-bottom: 1px dotted #FFFF99;
    padding: 0;
    min-height: 140px;
}

#footer #copyright p {
    color: #ffffff;
    font-family: Overlock;
    font-size: 1.2em;
    font-weight: normal;
}

#footer #copyright a {
    color: #ffffff;
    text-decoration: underline;
}

.region-copyright {
    margin: 0px auto;
    padding: 10px;
    max-width: 1024px;
}

.region-slideshow {
    margin: 0 auto;
    max-height: 320px;
    max-width: 1023px;
    padding: 0.4% 0 0;
}

/*
-------------------------------- Node ------------------------------
*/
.submitted-by {
    font-size: 13px;
    color: #666;
    font-family: 'Open Sans';
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
    display: block;
    padding: 3px 0 3px 10px;
    margin: 30px 0 0;
    clear: both;
}

/*
---------------------------- Fixed By Drupal Machine Name ----------------------------
*/

.views-field-field-provimento-numero, .views-field-field-recomendacao-numero,
 .views-field-field-pje-periodo-indispon-data, .views-field-field-pje-periodo-indispon-data-1,
 .views-field-field-certidao-periodo-indispon, .views-field-field-certidao-periodo-indispon-1,
 .date-display-range {
    white-space: nowrap;
}

.views-field-field-concurso-arquivo-data {
    width: 12%;
    text-align: center;
}

/*
---------------------------- Used by UI ----------------------------
*/
.row-align-top {
    vertical-align: top;
}

.row-width-50 {
    width: 50%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.menu-name-menu-servicos .display-none {
    display: block;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.tipo-small {
    font-size: 0.8em;
}

.nowrap {
    white-space: nowrap;
}

/* set keyframe to CSS animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.tipo-centro {
    display: block;
    margin: 0 auto;
}

/* file link */
#content .content a.tipo-pdf {
    border: 1px dashed #bbbaf5;
    line-height: 24px;
    padding: 5px 6px 2px 7px;
    display: block;
    font-family: Overlock;
    font-size: 1.25em;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: rgb(60, 73, 114);
    float: right;
    margin: 0 32px 0 0;
}

#content .content a.tipo-pdf:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}

#content .content a.tipo-pdf::before {
    content: url("../images/Filetype-PDF-B-icon.png");
    margin: 0 8px 0 0;
    float: left;
}

#content .content a.tipo-link {
    border: 1px dashed #bbbaf5;
    line-height: 24px;
    padding: 5px 6px 2px 7px;
    display: block;
    font-family: Overlock;
    font-size: 1.25em;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: rgb(60, 73, 114);
    float: right;
    margin: 0 32px 0 0;
}

#content .content a.tipo-link::before {
    content: url("../images/file-link-B-icon.png");
    margin: 0 8px 0 0;
    float: left;
}

#content .content a.tipo-link:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}

/* View Header */
.view-title {
    font-family: 'Open Sans';
    font-size: 1.1em;
    font-weight: bold;
    color: #303c49;
    display: inline-block;
    margin: 5px 0 3px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

body.front #content .content .view-title {
    font-size: 1.3em;
    text-transform: uppercase;
}

body.front #content .content .page-title {
    font-size: 1.5em;
    text-transform: uppercase;
}

.view-title::after, .view-title-home::after {
    background: #aac none repeat scroll 0 0;
    content: "";
    height: 1px;
    margin: 11px 0 0 5px;
    position: absolute;
    width: 100%;
}

/*

.view-title-home {
    display: block;
    border-bottom: 2px solid #236ab1;
    color: #236ab1;
    font-size: 1.4em;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 30px;
    margin: 2px 0 11px 0;
    padding: 6px 0 6px 11px;
    text-transform: uppercase;
}

.view-title-home-destaques {
    color: #666666;
    border-bottom: 2px solid #666666;
}

.view-title-home-noticias {
    margin: 13px 0 11px 0;
}

.view-title-home-videos {
    padding: 22px 0 11px 0;
    color: #81102d;
    border-bottom: 2px solid #81102d;
}


.view-title-home::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v4.png") repeat scroll 0px 0px;
    height: 32px;
    width: 30px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 10px;
}

.view-title-home-destaques::before {
    background-position: 30px 0px;
    height: 35px;
}

.view-title-home-noticias::before {
    background-position: 64px 0px;
}

.view-title-home-videos::before {
    background-position: 99px -3px;
}

*/

/* View Footer */
.view-footer > p.view-footer-text {
    margin: 10px 10px 0 0;
}

.view-footer-link {
   font-family: Overlock;
   font-size: 1.15em;
   float: right;
   
}

/* View HTML list */
.v-hlist-sidebar {
    margin: 0 0 24px 0;
}

.v-hlist-sidebar ul li.views-row {
    margin: 0 0 0 6px;
    background-position: 6px 14px;
}

.v-hlist-sidebar ul .views-field-title a {
    color: rgb(37, 87, 134);
    font-family: Overlock;
    font-size: 1.3em;
    letter-spacing: 0.02em;
    display: block;
    padding: 3px 0 6px 5px;
    margin: 0;
}

.v-hlist-sidebar ul li.views-row a:hover {
    color: rgb(60, 73, 114);
    border: medium none;
    text-decoration: underline;
}

.v-hlist-sidebar h3 {
    font-family: Open Sans;
    font-weight: 600;
    margin: 18px 0 0 12px;
    text-transform: uppercase;
}

.v-hlist-sidebar.view-v-pautas-e-atas-de-sessao ul .views-field-title a {
    display: inline;
}

.v-hlist-sidebar.view-v-pautas-e-atas-de-sessao ul .views-field-title img {
    vertical-align: middle;
    margin: 0 0 5px 5px;
    padding: 3px;
}

.hlist-text {
    color: #333333;
    font-family: Overlock;
    font-size: 1.25em;
    letter-spacing: 0.02em;
    display: block;
    padding: 8px 0 6px 5px;
    margin: 0;
    text-align: justify;
}

/* View Unformmated Files */
.v-ulist-files .view-content .views-field {
    border-top: 1px dashed #bbbaf5;
    border-left: 1px dashed #bbbaf5;
    border-right: 1px dashed #bbbaf5;
    padding: 5px;
}

.v-ulist-files .view-content .views-row-last .views-field {
    border-bottom: 1px dashed #bbbaf5;
}

#content .v-ulist-files .view-content .views-field a {
    float: none;
    border: medium none;
}

/* View Unformmated Noticias */
.v-ulist-noticias-tag-em-destaque1::after {
    content: "Em destaque";
    background-color: #656a6e;
    font-size: 0.8em;
    padding: 1px 3px;
    color: white;
}

.v-ulist-noticias .views-row {
    border-bottom: 1px dashed #bbbaf5;
    min-height: 158px;
    margin: 13px 0 0;
    padding: 6px 0 23px;
}

.v-ulist-noticias .views-row.views-row-last {
    margin-bottom: 0;
}

.v-ulist-noticias .views-field-created-1 {
    float: left;
    width: 40px;
    padding: 5px 0 0 1px;
    margin: 3px 7px 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    box-shadow: 2px 1px 3px #aab inset, -1px -1px 3px #e0e0e0 inset;
    border-bottom: 2px solid #333333;
}

.v-ulist-noticias .views-row .field-post-date-day {
    font-size: 2.2em;
    display: block;
}

.v-ulist-noticias .views-row .field-post-date-month {
    display: block;
}

.v-ulist-noticias .views-row .field-post-date-month-year {
    display: block;
    font-size: 0.75em;
}

.v-ulist-noticias .field-post-date-day-month-year {
    font-size: 0.8em;
}

.v-ulist-noticias > .view-content .views-field-title {
    font-family: "Open Sans";
    font-size: 1.3em;
    display: block;
    text-align: justify;
    line-height: 21px;
    min-height: 50px;
    padding: 4px 0 0 0;
}

.v-ulist-noticias > .view-content .views-field-field-noticia-imagem {
    float: left;
    padding: 2px;
    margin-right: 8px;
}

.v-ulist-noticias .views-field-field-noticia-imagem img {
    display: block;
    padding: 2px;
}

.v-ulist-noticias .views-field-body {
    font-family: "Open Sans";
    font-size: 1em;
    text-align: justify;
}

.v-ulist-noticias .views-field-body p {
    display: inline;
}

.v-ulist-noticias .views-field-field-noticia-subtitulo {
    font-family: "Open Sans";
    font-size: 1.15em;
    text-align: center;
    padding: 12px 3% 0;
}

.v-ulist-noticias.v-ulist-noticias-radio .views-row {
    min-height: 0px;
}

.v-ulist-noticias.v-ulist-noticias-radio > .view-content .views-field-title {
    min-height: 33px;
}

/* Div as sidebar Menu */
.as-menu {
    margin: 0 0 15px 0;
}

.as-menu p {
    margin: 0;
}

.as-menu a {
    color: rgb(60, 73, 114);
    font-family: Overlock;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    display: block;
    padding: 9px 0 11px 19px;
    margin: 0 1px 0 6px;
    white-space: nowrap;
    border-bottom: 1px dashed #bbbaf5;
}

.as-menu a:hover {
    background: #f0f3f5 none repeat scroll 0 0;
    border-left: 4px solid #303c49;
    border-right: 1px dashed #bbbaf5;
    padding: 9px 0 11px 15px;
}

.as-menu a.as-menu-first {
    margin: 5px 1px 0 6px;
    padding: 10px 0 12px 19px;
}

.as-menu a.as-menu-first:hover {
    padding: 9px 0 12px 15px;
    border-top: 1px dashed #bbbaf5;
}

div.as-menu-last {
    margin: 0 0 7px 0;
}

a.as-menu-last {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 1.1em;
    text-align: right;
    display: block;
    color: rgb(60,73,114);
    padding: 0 10px 0px 0;0
}

a.as-menu-last:hover {
    text-decoration: underline;
    color: rgb(60,73,114);
}

/* Div as page-title to sidebar */
div.as-page-title > p {
    color: #707070;
    display: inline-block;
    font-family: "Open Sans";
    font-size: 0.95em;
    font-weight: bold;
    line-height: 0.86em;
    letter-spacing: 0.15em;
    margin: 7px 0 0 0;
    padding: 0 0 0 7px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

div.as-page-title > p::after {
    background: #CCD none repeat scroll 0 0;
    content: "";
    height: 1px;
    margin: 5px 0 0 5px;
    position: absolute;
    width: 100%;
}

.html #container .region .services-link {
    border: medium none;
    text-align: right;
    padding: 6px 11px 0 0;
}

.html #container #content .services-link {
    display: none;
}

.html #container .region .services-link:hover {
    border: medium none;
    background-color: transparent;
}

.html #container .region .services-link a {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 1.1em;
    padding: 4px 0 0 15px;
}

.html #container .region .services-link a:hover {
    text-decoration: underline;
}

/* Acessibilidade */
.access-key::after {
    color: #222222;
    background-color: #DDDDDD;
    margin: 0 0 0 3px;
    padding: 0 1px 0 2px;
}

.access-key-1::after {
    content: "1";
}

.access-key-2::after {
    content: "2";
}

.access-key-3::after {
    content: "3";
}

.access-key-4::after {
    content: "4";
}

.access-key-5::after {
    content: "5";
}

.access-key-6::after {
    content: "6";
}

/*
---------------------------- Captcha ---------------------------
*/

fieldset.captcha {
    max-width: 505px;
}

fieldset.captcha legend {
    width: 505px;
}

fieldset.captcha div.form-item-captcha-response label {
    display: none;
}

fieldset.captcha div.form-item-captcha-response::before {
    content: "Qual o código está na imagem?";
    display: block;
}

fieldset.captcha div.form-item-captcha-response div.description {
    display: none;
}


/*
---------------------------- Theme Fixes ---------------------------
*/

/* Fix Second Sidebar list-style position */
.region ul.menu li {
    background-position: 1px 6px;
}

/* Overide default body background */
body {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

/* Hide IFrame title */
h3.iframe_title {
    display: none;
}

/* Hide add content subitens */
#sidebar-second ul.menu li.active-trail ul.menu {
    display: none;
}

/* Hide link field message on create node */
.link-field-title div.description {
    display: none;
}

/* field tip on create node */
.form-item .description {
    font-family: Open Sans;
    font-size: 1em;
    padding: 5px 0 0;
}

/* Hide CKEditor switch to plain text */
#body-add-more-wrapper #switch_edit-body-und-0-value {
    display: none !important;
}

/* text format onde edit long text */
#body-add-more-wrapper .filter-wrapper {
    padding: 0 0 1em;
}

#body-add-more-wrapper .filter-wrapper .fieldset-wrapper {
    margin-top: 10px;
}

/* youtube field */
.views-field-field-trabseg-video-youtube {
    text-align: center;
}

#content .tabs-wrapper {
    border: none medium;
}

#content .tabs-wrapper ul.tabs li a {
    border-radius: 4px;
    font-family: Overlock;
    font-size: 1.3em;
    padding: 3px 14px;
    border: 1px dashed #bbbaf5;
    color: rgb(60, 73, 114);
}

#content .tabs-wrapper ul.tabs li a.active {
    background: transparent none repeat scroll 0 0;
}

#content .tabs-wrapper ul.tabs li a:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}

#content .tabs-wrapper ul.tabs li.active {
    display: none;
}

#content .node-form label {
    font-weight: 600;
    border-bottom: 1px dashed #bbbaf5;
    margin: 20px 0;
}

#content .node-form label.option {
    font-weight: normal;
}

#content .node-form label + div.file-widget,
 #content .node-form label + div.image-widget,
 #content .node-form label + div.video-widget,
 #content .node-form label + div.file-widget + div.description,
 #content .node-form label + div.video-widget + div.description,
 #content .node-form label + div.image-widget + div.description {
    margin-left: 20px;
}

.timeline-Widget {
    background-color: #f7f7f7 !important;
}
