/* style região rodapá */


/*############ footer ##############*/
#footer {
    clear: both;
    padding: 0;
    background: #ffffff;
    margin-top: 0;
    border-top:none;
}

.region-footer {
    margin: 10px auto 0;
    max-width: 100%;
    padding: 0 ;
}

.footer_wrapper {
    width: 100%;
    
}
#footer #copyright {
    border:none                     ;
    background:#23517E url("../images/jt-novo-rodape.png") center top no-repeat;
    padding: 0;
    min-height: 140px;
}

#footer li {
    display: block;
    padding: 0;
    border: none ;
}

#footer #copyright a {
    color: #ffffff;
    text-decoration: none;
}


.content a img {
    padding: 0;
    box-shadow: none;
    background: none;
    border: none;
}

.content a:hover img {
    background: none;
}

.bloco_footer {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.footer_content {
    width: 1129px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.logo_footer {
    padding-top: 27px;
    width: 18%;
    
  

}
.logo_footer img {
    width: 138px;
    height: 106px;
}
.endereco_footer {
    width: 23%;
    height: 120px;
    
   
}
.endereco_footer p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
}

.endereco_footer::before{
 background: url(../images/icons-rodape.png) repeat scroll 0px 0px;
 background-position: 0px 0px;
 width:24px;
 heigth:24px;
}


/* by @marcos - css para o endereco do rodape */
#copyright .endereco_footer p {
  margin-bottom: 10px;
}
.endereco_footer {
    border-right: 3px solid #fff;
    width: 30%;
    height: 120px;
    padding: 1px 0px 1px 15px;
    min-height: 162px;
    margin-right: 62px;
}
.endereco_footer b {
    color: #fff;
}

.endereco_footer p {
   line-height: 16px;
}

.block_endereco {
 text-indent: -35px;
}

#endereco b::before {
    background: url(../images/icons-rodape-v2.png) repeat scroll 0px 0px;
    background-position: 1px 0px;
    height: 17px;
    width: 17px;
    margin: 0 16px 0 0;
    content: ".";
    color: transparent;
    display: inline-block;
    background-size: 71px;
}

#horario_funcionamento b::before {
    background: url(../images/icons-rodape-v2.png) repeat scroll 0px 0px;
    background-position: -26px 0px;
    height: 17px;
    width: 18px;
    margin: 0 16px 0 0;
    content: ".";
    color:transparent;
    display: inline-block;
    background-size: 71px;
}

#telefone_tribunal b::before {
    background: url(../images/icons-rodape-v2.png) repeat scroll 0px 0px;
    background-position: -51px 0px;
    height: 17px;
    width: 18px;
    margin: 0 10px 0 0;
    content: ".";
    color:transparent;
    display: inline-block;
    background-size: 71px;
}

/* fim */

.mapa_site {
    width: 18%;

}
.mapa_site h2 {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.mapa_site ul {
    list-style: none;
}
.mapa_site ul li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-decoration: none;
}
.mapa_site ul li a:hover {
border-bottom:1px solid #fff;
}
.mapa_site ul li {
    margin-bottom: 2px;
}
.mapa_site ul li a .icon {
    margin-right: 3px;
    font-weight: bold; 
    color: #9bacb4;
}

/*rede social */

.icons_instagram_footer  a::before{
    background: url(../images/social_icons.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -77px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 27px;


}

.icons_twitter_footer a::before{
    background: url(../images/social_icons.png) repeat scroll 0 0;
   background-size: 223px;
   background-position: -37px 0px;
   content: ".";
   color: transparent;
   display: inline-block;
   vertical-align: top;
   width: 31px;
   height: 27px;
   border-radius: 20px;

}

.icons_facebook_footer a::before{
   background: url(../images/social_icons.png) repeat scroll 0 0;
   background-size: 223px;
   content: ".";
   color: transparent;
   display: inline-block;
   vertical-align: top;
   width: 31px;
   height: 27px;
   border-radius: 20px;


}

.icons_flickr_footer a::before{
   background: url(../images/social_icons.png) repeat scroll 0 0;
   background-size: 223px;
   background-position: -114px 0px;
   content: ".";
   color: transparent;
   display: inline-block;
   vertical-align: top;
   width: 31px;
   height: 27px;
   border-radius: 20px;

}

.icons_youtube_footer a::before{
    background: url(../images/social_icons.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -154px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 27px;
    border-radius: 20px;

}
.icons_rss_footer a::before{
    background: url(../images/social_icons.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: 254px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 27px;
    border-radius: 20px;

}




.rede_social {
    width: 21%;
    float: right;
    margin-right: 0;
}
.rede_social ul {
    list-style: none;
}
.rede_social ul li {
    float: left;
    margin-left: 7px;
}
.rede_social .social {
    width:30px;
    height:30px;
    border-radius: 20px;
}

.rede_social .exclamacao {
    display: block;
    width: 100%;
    clear: both;
    text-align:right;
    padding-top: 15px;
}
.rede_social .exclamacao img {
    width: 35px;
    height: 35px;
}


.region-copyright {
    margin: 0px auto;
    padding: 0;
    max-width: 1129px;
}

/*################# Programas #############*/

.banner_informativo_bottom_wrapper {
    width: 100%;
    clear: both;
    background:#a5b4c2;
}
.banner_informativo_content {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1129px;
}
.lista_banner {
    height: 70px;
    list-style: none;
}
.lista_banner img {
    width: 100%;
}
.lista_banner a:hover {
    transform: translateY(-5px);
}
.lista_banner a {
    width: 15%;
    margin-right: 44px;
    height: 50px;
    float: left;
    line-height: 70px;
    padding: 2px;
    transition: transform 0.3s;
}
.wrapper_bottom_content {
    height: 711px;
}



/*########### servicos bottom ###############*/

.servicos_bottom_wrapper {
    width: 100%;
    clear: both;
}
.servicos_bottom_content {
   max-width: 1129px;
    height: 113px;
    margin: 0 auto;
    padding-top: 17px;
}

.servicos_bottom_content ul {
    list-style: none;
}
.servicos_bottom_content .servico {
    float: left;
    margin-right: 0;
    text-align: center;
    width: 9.75%;
}
.servicos_bottom_content .servico {
    transition: transform 0.3s;
}
.servicos_bottom_content .servico:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.title h4 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px auto;
    color: #01426a;
    font-weight: bold;
    width: 80%;
}

.servicos_bottom_content .servico .title {
    height: 30px;
}
.servicos_bottom_content .servico .icon_servico {
    width: 60px;
    height: 50px;
    background: #cece;
    margin: 0 auto;
}
.servicos_bottom_content .servico .push {
    background: url('../images/icons_service_v3.jpg');
    background-position: 0px -2px;
    width:50px;
}
.servicos_bottom_content .servico .precatorios {
    background: url('../images/icons_service_v3.jpg');
    background-position: -46px -2px;
}
.servicos_bottom_content .servico .portal_do_advogado {
    background: url('../images/icons_service_v3.jpg');
    background-position: -104px 0px;
}
.servicos_bottom_content .servico .editais_e_avisos {
    background: url('../images/icons_service_v3.jpg');
    background-position: -161px -5px;
}
.servicos_bottom_content .servico .biblioteca {
    background: url('../images/icons_service_v3.jpg');
    background-position: -221px -5px;
}
.servicos_bottom_content .servico .estatisticas {
    background: url('../images/icons_service_v3.jpg');
    background-position: -285px -5px;
}
.servicos_bottom_content .servico .agenda {
    background: url('../images/icons_service_v3.jpg');
    background-position: -345px -4px;
}
.servicos_bottom_content .servico .gestao {
    background: url('../images/icons_service_v3.jpg');
    background-position: -407px -4px;
}
.servicos_bottom_content .servico .escola_judicial {
    background: url('../images/icons_service_v3.jpg');
    background-position: -470px -6px;
}
.servicos_bottom_content .servico .trt_saude {
    background: url('../images/icons_service_v3.jpg');
    background-position: -525px -6px;
}


.ultimo_servico {
    margin-right: 0;
}
