/* style região rodapá */


/*############ footer ##############*/
#footer {
    clear: both;
    padding: 0;
    background: #ffffff;
    margin-top: 0;
    border-top:none;
}

.region-footer {
    margin: 10px auto 0;
    max-width: 100%;
    padding: 0 ;
}

.footer_wrapper {
    width: 100%;
    
}
#footer #copyright {
    border:none                     ;
    background: #23517e  none repeat scroll 0 0;
    padding: 0;
    min-height: 140px;
}

#footer li {
    display: block;
    padding: 0;
    border: none ;
}

#footer #copyright a {
    color: #ffffff;
    text-decoration: none;
}


.content a img {
    padding: 0;
    box-shadow: none;
    background: none;
    border: none;
}

.content a:hover img {
    background: none;
}

.bloco_footer {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.footer_content {
    width: 1129px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.logo_footer {
    width: 18%;
    border-right: 3px solid #fff;
  

}
.logo_footer img {
    width: 138px;
    height: 106px;
}
.endereco_footer {
    width: 23%;
    height: 120px;
    
   
}
.endereco_footer p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
}
.mapa_site {
    width: 18%;
    padding-left: 70px;

}
.mapa_site h2 {
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}
.mapa_site ul {
    list-style: none;
}
.mapa_site ul li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-decoration: none;
}
.mapa_site ul li a:hover {
border-bottom:1px solid #fff;
}
.mapa_site ul li {
    margin-bottom: 2px;
}
.mapa_site ul li a .icon {
    margin-right: 3px;
    font-weight: bold; 
    color: #9bacb4;
}
.rede_social {
    width: 20%;
    float: right;
    margin-right: 0;
}
.rede_social ul {
    list-style: none;
}
.rede_social ul li {
    float: left;
    margin-left: 7px;
}
.rede_social .social {
    width:30px;
    height:30px;
    border-radius: 20px;
}
.rede_social .facebook {
    background-image: url('../images/social_icons.png');
    background-position: -1px 32px;
}
.rede_social .twitter {
    background-image: url('../images/social_icons.png');
    background-position: 220px 32px;
}
.rede_social .instagram {
    background-image: url('../images/social_icons.png');
    background-position: 441px 31px;
}
.rede_social .flickr {
    background-image: url('../images/social_icons.png');
    background-position: 396px 32px;
}

.rede_social .youtube {
    background-image: url('../images/social_icons.png');
    background-position: 80px 32px;
}

.rede_social .rss {
    background-image: url('../images/social_icons.png');
    background-position: 300px 32px;
}

.rede_social .exclamacao {
    display: block;
    width: 100%;
    clear: both;
    text-align:right;
    padding-top: 15px;
}
.rede_social .exclamacao img {
    width: 35px;
    height: 35px;
}


.region-copyright {
    margin: 0px auto;
    padding: 0;
    max-width: 1129px;
}

/*################# Programas #############*/

.banner_informativo_bottom_wrapper {
    width: 100%;
    clear: both;
    background:#a5b4c2;
}
.banner_informativo_content {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1129px;
}
.lista_banner {
    height: 70px;
    list-style: none;
}
.lista_banner img {
    width: 100%;
}
.lista_banner a:hover {
    transform: translateY(-5px);
}
.lista_banner a {
    width: 18%;
    margin-right: 16px;
    height: 50px;
    float: left;
    line-height: 70px;
    padding: 2px;
    transition: transform 0.3s;
}
.wrapper_bottom_content {
    height: 711px;
}



/*########### servicos bottom ###############*/

.servicos_bottom_wrapper {
    width: 100%;
    clear: both;
}
.servicos_bottom_content {
   max-width: 1129px;
    height: 113px;
    margin: 0 auto;
    padding-top: 17px;
}

.servicos_bottom_content ul {
    list-style: none;
}
.servicos_bottom_content .servico {
    float: left;
    margin-right: 0;
    text-align: center;
    width: 9.75%;
}
.servicos_bottom_content .servico {
    transition: transform 0.3s;
}
.servicos_bottom_content .servico:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.title h4 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px auto;
    color: #01426a;
    font-weight: bold;
    width: 80%;
}

.servicos_bottom_content .servico .title {
    height: 30px;
}
.servicos_bottom_content .servico .icon_servico {
    width: 50px;
    height: 50px;
    background: #cece;
    margin: 0 auto;
}
.servicos_bottom_content .servico .push {
    background: url('../images/icons_service2v.png');
    background-position: 0px -2px;
}
.servicos_bottom_content .servico .precatorios {
    background: url('../images/icons_service2v.png');
    background-position: -55px -2px;
}
.servicos_bottom_content .servico .portal_do_advogado {
    background: url('../images/icons_service2v.png');
    background-position: -111px 0px;
}
.servicos_bottom_content .servico .editais_e_avisos {
    background: url('../images/icons_service2v.png');
    background-position: -170px -5px;
}
.servicos_bottom_content .servico .biblioteca {
    background: url('../images/icons_service2v.png');
    background-position: -228px -5px;
}
.servicos_bottom_content .servico .estatisticas {
    background: url('../images/icons_service2v.png');
    background-position: -290px -5px;
}
.servicos_bottom_content .servico .agenda {
    background: url('../images/icons_service2v.png');
    background-position: -353px -4px;
}
.servicos_bottom_content .servico .gestao {
    background: url('../images/icons_service2v.png');
    background-position: -413px -4px;
}
.servicos_bottom_content .servico .escola_judicial {
    background: url('../images/icons_service2v.png');
    background-position: -475px -6px;
}
.servicos_bottom_content .servico .trt_saude {
    background: url('../images/icons_service2v.png');
    background-position: -535px -6px;
}


.ultimo_servico {
    margin-right: 0;
}
