#header {
    max-width: 1129px;
}

.accessibility {
    max-width: 1129px;
    margin: 0 auto;
}

#accessibility_wrapper {
    min-height: 25px;
    background: #01426a;
}
#inner_header_wrapper {
    background: #ffffff;
}

.accessibility ul {
    list-style: none;
}

.accessibility ul li {
    float: left;
    padding: 0 0 0 7px;
    color: #ffffff;
    
}

.accessibility ul li a {
    text-decoration: none;
    color: #ffffff;
}

.accessibility ul li a:hover {
    border-bottom: dashed 1px #ffffff;
}

.region-accessibility-left {
    line-height: 2px;
    
}

.translation_tools {
    float: right;
    width: 154px;
    height: 15px;
}

.translation_tools ul li {
    float: left;
    list-style: none;
    padding: 0 0 0 7px;
}

.translation_tools ul li a {
    text-decoration: none;
    color: #ffffff;
}

.region-accessibility-right {
    line-height: 2px;
    height: 26px;
}

#block-block-5 {
    height: 26px;
}

.access_links ul li {
    list-style: none;
    float: left;
}

.access_links ul {
    padding: 5px 0 5px 0;
}

.icons_access_links {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 15px;
    margin: 0 0 0 13px;
}

.icons_information {
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 41px 68px;
}

.icons_zoom_less {
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 88px;
    background-position: 243px 141px;
}

.icons_zoom_more {
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 79px;
    background-position: 58px 37px;

}

.icons_libras {
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 85px;
    background-position: -3px -32px;
}

.icons_contrast {
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 89px;
    background-position: -3px 68px;

}

.icons_intranet {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 20px;
    margin: 0 0 0 10px;
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 140px;
    background-position: -223px 56px;
}
