#header {
    max-width: 1129px;
}

.accessibility {
    max-width: 1129px;
    margin: 0 auto;
    padding: 1px 0;
}

#accessibility_wrapper {
    min-height: 25px;
    background: #01426a;
}
#inner_header_wrapper {
    background: #ffffff;
}

.accessibility ul {
    list-style: none;
    margin-left: 0;
    margin-bottom:0;
}

.accessibility ul li {
    float: left;
    padding: 0 0 0 7px;
    color: #ffffff;
    
}

.accessibility ul li a {
    text-decoration: none;
    color: #ffffff;
}

.accessibility ul li a:hover {
    border-bottom: dashed 1px #ffffff;
}

.region-accessibility-left {

    
}

.translation_tools {
    float: left;
    width: 361px;
    height: 15px;
    padding: 0 0 0 170px;

}

.translation_tools ul li {
    float: left;
    list-style: none;
    padding: 0 0 0 7px;
}

.translation_tools ul li a {
    text-decoration: none;
    color: #ffffff;
}

.region-accessibility-right {
    line-height: 2px;
    height: 26px;
}

#block-block-5 {
    height: 26px;
}

.access_links{
    float: right;
}

.access_links ul li {
    list-style: none;
    float: left;
}

.access_links ul {
    padding: 1px 0 5px 0;
}

.access_links ul li a:hover {
    border: none;
}

.icons_access_links {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 15px;
    margin: 0 0 0 13px;
}


.icons_info a::before{
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 217px 140px;
    height: 15px;
    width: 20px;
    content: ".";
    color: transparent;
    display: inline-block;
}


.icons_zoom_less a::before{
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 240px 140px;
    height: 15px;
    width: 20px;
    content: ".";
    color: transparent;
    display: inline-block;
}

.icons_zoom_more a::before{
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 151px 112px;
    height: 15px;
    width: 20px;
    content: ".";
    color: transparent;
    display: inline-block;
}

.icons_libras a::before{
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 171px 112px;
    height: 15px;
    width: 20px;
    content: ".";
    color: transparent;
    display: inline-block;
}

.icons_contrast a::before{
    background: url(../images/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 346px -6px;
    height: 15px;
    width: 20px;
    content: ".";
    color: transparent;
    display: inline-block;
}




.top_left {
    width: 47%;
}

.top_right {
    width: 53%;
}

.social_icons {
    margin: 24px 0 0;
    width: 270px;
    height: 30px;
    margin-left: 320px;
}

.social_icons ul {
    list-style: none;
}

.social_icon {
    float: right;
    margin: 0 0 0 4px;
    border-radius: 20px;  
}


.icons_instagram a::before{
    background: url(../images/redesocial.png) repeat scroll 0 0;
    background-size: 223px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 30px;
}

.icons_twitter a::before{
     background: url(../images/redesocial.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -76px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 29px;
    border-radius: 20px;
    
}

.icons_facebook a::before{
    background: url(../images/redesocial.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -37px 0;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 29px;
    border-radius: 20px;
}

.icons_flickr a::before{
    background: url(../images/redesocial.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -155px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 29px;
    border-radius: 20px;


}
.icons_youtube a::before{
    background: url(../images/redesocial.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -116px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 29px;
    border-radius: 20px;

}
.icons_rss a::before{
    background: url(../images/redesocial.png) repeat scroll 0 0;
    background-size: 223px;
    background-position: -192px 0px;
    content: ".";
    color: transparent;
    display: inline-block;
    vertical-align: top;
    width: 31px;
    height: 29px;
    border-radius: 20px;

}


#block-search-form .form-submit {
    height: 27px;
    width: 29px;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    background: url(../images/search_icon.png) no-repeat center top;
    overflow: hidden;
    box-shadow: none;
    border: 0;
    position: absolute;
    top: 1px;
    right: 2px;
}

.process_consultation_wrapper {
    margin: 9px auto;
    max-width: 700px;
}

.title_consultation {
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    color: #ffffff;
    background: #01426a;
    padding: 5px;
    font-weight: bold;
}

#iNrProcessoUnica {
    width: 100px;
    padding: 5px;
}

#iNrDigitoUnica {
    width: 60px;
    padding: 5px;
}

#iNrProcessoAnoUnica {
    width: 50px;
    padding: 5px;
}

#iNrJusticaUnica {
    width: 40px;
    padding: 5px;
}

#iNrRegiaoUnica {
    width: 40px;
    padding: 5px;
}

#iNrProcessoVaraUnica {
    width: 47px;
    padding: 5px;
}

.border_input {
    padding-left:5px; 
    border: 1px solid #C7C7C7;
}

.buttom_consultation {
    width: 100px;
    height: 30px;
    font-size: 11px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #C7C7C7;
    border-radius: 0;
    box-shadow: none;

}

.buttom_consultation:hover {
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.clean {
    color: #ffffff;
    background: #face33;
}

.consult {
    color: #ffffff;
    background: #00b388;
}

#campos_consulta {
    display: inline-block;
    vertical-align: top;
}

#campos_consulta input {
    margin: 0 0 0 4px;
}

#buttons_consultation {
    display: inline-block;
    vertical-align: top;
    margin-left: 7px; 
}

#search-block-form .form-actions input {
    margin: 2px -1px;
    border-radius: 0px 2px 2px 0px;
}

#block-search-form .form-submit {
    height: 26px;
    width: 29px;
    padding: 0;
    cursor: pointer;
    text-indent: -9999px;
    border-color: #E4E4E4 #D2D2D2 #B4B4B4;
    background:#face33 url(../images/search_icon.png) no-repeat center top;
    overflow: hidden;
    box-shadow: none;
    border: 0;
    position: absolute;
    top: 1px;
    right: 2px;
    background-size: 15px;
    background-position: 7px 6px;
}