
@media screen and (max-width: 800px) {
    #footer-sitemap ul li {
        min-width: 34%;
    }
    .views-slideshow-cycle-processed {
        min-height: auto;
    }
}

@media screen and (max-width: 750px) {
    #main-menu ul.menu li a, #main-menu .nav-toggle {
        border: none;
    }
    #main-menu a.nav-toggle {
        font-family: Overlock;
        background: #f0f0f0 none repeat scroll 0 0;
        text-transform: uppercase;
        color: #333333;
        box-shadow: 1px 2px 1px #fff inset,-2px -2px 1px #fff inset;
    }
    .v-slideshow-eslaides .views-slideshow-pager-fields {
        transform: scale(0.65, 0.65);
        bottom: 4px;
        left: 66%;
    }
    .view-v-eslaides-comissao-de-etica .vscc_controls_pause {
        top: 66%;
    }
    #accessibility_wrapper {
        display: none;
    }
}
 
@media screen and (max-width: 640px) {
    
    
    
    #block-menu-menu-servicos-front .content ul.menu li.servicos-front-ver-servicos a {
    
    display: initial;
    
    }
    
    #block-block-14 .process_consultation_wrapper #buttons_consultation {
      width: 100%;
      margin: 0 auto;
      padding: 7px;
    }
    
    #block-block-14 .buttom_consultation {
    width: 49%;
    }
      
    #block-block-14 .process_consultation_wrapper {
       margin: 1px 0;
    }
    
    #copyright .endereco_footer {
      border: none;
    }
    
    #copyright .footer_content .logo_footer {
     width: 43%;
    }
    
    #copyright .footer_content .endereco_footer {
     width: 74%;
    
    }
    
    .endereco_footer p {
      text-align: justify;
    
    }
    
    #copyright .bloco_footer {
      
      margin-right: 0;
       
    }
    
    #copyright .footer_content .mapa_site {
      padding: 65px 0 0 43px;
      width: 100%;
    }
    
    #copyright .footer_content .rede_social {
      display: block;
    }
    
    .rede_social {
      width: 89%;
      margin-top : 10px;
      margin: 10px auto;
      display: block;
    }
    
    #header .top_left {
        width: 100%;
    }

    #main-menu > .menu-navigation-container > ul.menu > li.first + li {
        width: 100%;
    }
    #header_wrapper #main-menu > .menu-navigation-container > ul.menu > li {
        width: 100%;
    }
    #header .top_right {
        width: 100%;
    }

    #header .social_icons {
        margin: 0 auto;
        width: 212px;
    }
    
    #header .social_icons ul {
        margin-left: 0;
    }
    
    .menu_inner_wrap > #main-menu > .menu-navigation-container > ul.menu > li {
        width: 100%;    
    }

    .menu_inner_wrap > #main-menu > .menu-navigation-container > ul.menu > li.first + li {
        width: 100%;
    }
    
    .process_consultation_wrapper .title_consultation {
        padding: 5px 46px 5px 46px;
        width: 100%;
        text-align: center;

    }
    
    .process_consultation_wrapper #campos_consulta {
        width: 100%;
       
    }
    
    .process_consultation_wrapper #campos_consulta input {
        margin: 3px 0 0 1px;
        width:99%;
    }

    .process_consultation_wrapper #buttons_consultation {
        width: 63%;
        margin: 4px 0 0 68px; 
    }
    
    
    #campos_consulta #numero {
        width: 75px;
    
    }

    #block-system-main .jt-view-noticia-destaque > .view-content .views-field-title {
        width: 100%;
        padding: 0;
    }

    #block-system-main .jt-view-noticia-destaque > .view-content .views-field-body {
        display: none;
    }

    .jt-view-noticia-destaque .view-footer {
        margin-top: 20px;
        
    }

    .jt-view-noticia-destaque .view-footer .view-v-noticias .views-row {
        float: none;
        width: 100%;
        padding: 15px 0 0 5px;
    }

    #block-system-main .jt-view-noticia-destaque > .view-content .views-field-path span {
        display: none;
    }

    #block-system-main .jt-view-noticia-destaque > .view-content .views-field-title  a {
        font-size: 13px;
    }

    .jt-view-noticia-destaque .view-footer .jt-view-3-noticias-com-imagem .views-field-title a {
        font-size: 22px;
    }

    #block-system-main .jt-view-noticia-destaque > .view-content .views-field-field-noticia-imagem {
        width: 100%;
    }

    #block-system-main .view-v-noticias .views-field-title {
        margin-bottom: 20px;
    }

    
     .view-footer > .view-v-noticias > .view-content > .views-row {
     
     padding:0;
     float: none;
     display: block;
     margin-bottom: 9px;
    }
    
    .view-header  > .view-v-noticias > .view-content > .views-row {
    height: 241px;
    }
     
    #content_bottom_wrapper .region-content-bottom #block-views-v-noticias-block-14 {
      width: 93%;
      margin: 15px;
    
    }
        
    #block-system-main .view-v-noticias > .view-header{
      margin-bottom: 0;
    
    }

    #sidebar-second ul {
        margin-left: 0;
    }

    .view-footer img, .view-header img {
        width: 100%;
    }
    
    .view-footer > .jt-view-3-noticias-com-imagem .view-content .views-row { 
      width: 100%;
    }
    
    .region-content-bottom #block-views-v-noticias-em-video-block {
        width: 93%;
        margin: 10px;
    }

    #content_bottom_wrapper #block-views-v-noticias-em-video-block {
        padding: 0;
    }

    #block-block-1 .logo_footer {
        display: block;
        width: 11%;
        margin-left: 107px;
        border: none;
    }

    #block-block-1 .endereco_footer {
        width: 100%;
        padding-left: 30px;
    }

    #block-block-1 .mapa_site {
        width: 100%;
        padding-left: 34px;
        margin-top: 12px;
    }

    #block-block-1 .rede_social {
        float: none;
        margin: 28px;
        width: 25%;
    }

    #block-block-1 .rede_social .exclamacao {
        width: 15%;
        clear: right;
        text-align: left;
        padding: 12px 0 0 7px;
        float: left;
        clear: both;
    }

    #block-block-1 .rede_social img {
        width: 33px;
        height: 31px;
    }

    #block-views-v-noticias-em-video-block .v-grid-noticias-video > .view-content .views-view-grid td {
        float: none;
    }

    #block-views-v-noticias-em-video-block .v-grid-noticias-video .view-content .views-field-field-noticia-video
    video {
        height: 170px;
    }
    
    

    #search-block-form #block-search-form .form-text {
        border-radius: 3px 10px 10px 3px;
    }    

    #block-block-3 .servicos_bottom_content .servico {
        width: 50%;
        
    }

    #footer #block-block-7 .banner_informativo_bottom_wrapper {
        min-height: 330px;
    }

    #footer #block-block-7 .banner_informativo_content ul {
        margin: 1px 9px 1px 9px; 
    }
     
    #footer #block-block-7 .banner_informativo_bottom_wrapper .lista_banner a {
        width: 50%;
        margin: 8px 45px 2px 75px;
    }
    
    #footer #block-block-11 .banner_informativo_content li {
        width: 50%;
        margin: 0 auto;
    }

     #footer #block-block-11 .item_banner a {
        float: none;
     }

     #footer #block-block-11 .lista_banner {
        height: auto;
     
     }
     
     #copyright .footer_content {
        width: 100%;
     
     }
     
     #copyright .footer_content .logo_footer {
        display: block;
        border: none;
        width: 43%;
        margin: 0 auto;
      
     }
     
      #copyright .footer_content .endereco_footer {
         display: block;
         padding: 30px 0 0;
         width: 70%;
         margin: 0 auto;
         
      }
      
       #copyright .footer_content .mapa_site{
          padding: 65px 0 0 47px
          width: 100%;
      }
       
       #copyright .footer_content .rede_social {
          float: none;
          display: block;
          width: 89%;
        }
           
     
    #copyrity .lista_links {
        float: left;
    }

    #logo {
        margin: 0;
    }
    .top_right > div {
        margin: 0;
        float: none;
    }
    .top_right > div > ul {
        float: none;
    }
    #breadcrumbs .breadcrumb {
        padding-left: 10px;
    }
    .node-type-noticia #content #post-content p {
         font-size: 1.5em;
         line-height: 1.2;
    }
    .v-grid-noticias > .view-content .views-view-grid td {
         float: left;
         width: 100%;
         background-color: #f8f8f8;
         margin: 0 0 15px 0;
         border-radius: 3px;
         box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .v-grid-noticias > .view-content .views-view-grid td + td {
         float: right;
         width: 100%;
    }
    .v-grid-noticias > .view-content .views-view-grid td a {
        font-size: 1.1em;
        font-weight: bold;
        color: #2b5a95;
    }
    .v-ulist-noticias > .view-content .views-row {
         border-bottom: medium none;
         min-height: 158px;
         margin: 13px 0 0;
         background-color: #f8f8f8;
         border-radius: 3px;
         padding: 14px;
         box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 2px 0 rgba(0,0,0,0.12);
    }
    .v-ulist-noticias > .view-content .views-field-field-noticia-imagem {
       width: 100%;
    }
    .v-ulist-noticias > .view-content .views-field-field-noticia-imagem img {
       margin: 0 auto 10px;
    }
    .v-ulist-noticias .views-field-created-1 {
        background-color: #fff;
        border-radius: 9px 2px 0 0;
        margin: -3px 7px 0 0;
    }
    .v-ulist-noticias > .view-content .views-field-title a {
        font-weight: bold;
        color: #2b5a95;
    }
    .v-grid-noticias-video > .view-content .views-view-grid td {
        width: 100%;
        float: left;
    }
    .v-grid-mensal > .view-content table.views-view-grid {
        background-color: transparent;
    }
    .v-grid-mensal > .view-content table.views-view-grid td {
        float: left;
        width: 50%;
    }
    .v-grid-iniciativas-do-tribunal > .view-content table.views-view-grid {
        width: 98%;
    }
    #content .block-menu-block .menu li, #content .block-menu .menu li {
        min-width: 150px;
    }
    .page-node-111 #content #post-content .block-menu-block, .page-node-111 #content #post-content .block-menu {
        width: 100%;
        margin: 0;
    }
    #content .content .p-mobile {
         margin-left: 15px;
         margin-right: 15px;
    }
    
    #block-block-12 .servicos_bottom_wrapper .servicos_bottom_content .servico{
         width: 100%;
    }

}
