/* trabalhando a responsividade */
@media screen and (max-width: 640px){
    /*---------------geral--------------------------*/
    #post-content {
	margin: 0 16px;
    }
    /*----------------top-menu----------------------*/
    .menu_topo {
	display: none;
    }
    /*--------------- search ----------------------*/
    #block-search-form {
	margin: 5px auto !important;
	float: none !important;
    }
    #block-search-form .form-text {
	width: 100% !important;
    }
    .top_right .region-search {
	float: none !important;
	margin: 5px auto !important;
    }
    
    /*---------------- main-menu -------------------*/
    #main-menu a {
	border: none !important;
	
    }
    #main-menu ul.menu li.first {
	display: none;
    }
    #main-menu ul li.expanded .first {
	display: block;
    }
    .menu {
	height: auto !important;
    }

    .menu_wrapper {
	clear: both;
    }

    #main-menu {
	background: #32b7df;
	border-bottom: 1px solid #cecece;
    }

    #main-menu .nav-toggle {
	color: #fff !important;
    }    

    /*-------------- acesso-exclusivo--------------*/
    .servicos_content h2 {
	display: none;
    }
    .servicos_content .alinhamento {
	width: 100%;
    }
    .servicos_content .servico {
	padding : 0;
    }

    #main-menu .nav-toggle {
	background: transparent !important;
    }
    .servicos_content .servico h2 {
	display: block;
	padding: 0;
    }
    .servicos_content .servico {
	width: 50%;
	margin-bottom: 6px;
	padding: 0 !important;
    }
    .servicos_content {
	height: 296px;
    }
    .banner_central {
	height: 249px;
    }
    .banner_central .content h1 {
	padding: 0 20px;
    }
    .views-view-grid {
	width: 100%;
    }
    .view-noticias table td {
	width: 100%;
    }
    
    .icon_acesso_rapido {
	width: 110px !important;
	height: 106px !important;
	margin: 0 auto;
    }
    .acesso_beneficiario {
	background-position: -7px -11px !important;
	background-size: 429px !important;
    }
    .acesso_credenciados {
	background-position: -118px -13px;
	background-size: 429px;
    }
    .acesso_gestores{
	background-position: -215px -13px;
	background-size: 429px;
    }
    .acesso_peritos {
	background-position: -547px -13px;
	background-size: 429px
    }
    
    /*-------------links-uteis-----------------------------*/
    .links_uteis_content {
	width: 92%;
    }
    .link_item_meio {
	margin: 0;
    }
    .links_uteis_content .link_item {
	width: 100%;
    }
    #quebra_linha {
	clear: both;
    }
    /*----------------------- news ------------------------- */
    .title-view {
	clear: both;
	width: 92%;
    }
    span.more-link-noticia {
	width: 20%;
	margin: 0 auto;
	display: block;
    }
    .view-noticias table td {
	display: block;
    }
    .view-noticias table {
	background: transparent;
    }
    .view-noticias .views-field-body  {
	text-align: center;
    }
    span.more-link-noticia a  {
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 28px;
	width: 70px;
    }
    .col-right {
	width: 112px;
    }
    .col-left {
	width: 67%;
    }

    .node-noticia {
	width: 95%;
	margin: 0 auto;
	text-align: justify;
    }

    /*--------------------- sidebar-second ----------------*/
    
    #sidebar-second {
	width: 100%;
	clear: both;
    }
    
    
    /*---------------------- servicos ---------------------*/
    .services_content {
	width: 92%;
    }
    .service_item {
	width: 100%;
    }
    .servicos_content .alinhamento {
	width: 82%;
    }
    /*---------------------- contato ---------------------*/
    .contact_content {
	width: 100% !important;
	margin: 0 auto !important;
    }
    
    .contact_box {
	width: 100% !important;
	margin: 5px auto !important;
    }

    /*--------------------- footer -----------------------*/
    #footer-sitemap ul li {
	min-width: 100% !important;
	text-align: left;
	margin: 0 0 20px 12px;
    }
    
    
}