/*
** CSS core
*/
.services {
    margin: 10px 0 0 0;
}

.services_content {
    width: 1129px;
    margin: 0 auto;
}

.service_item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 70px;
    padding: 0px 14px 32px 20px;
    transition: transform 0.3s,box-shadow 0.3s;
}

.service_item:hover {
    transform: translateY(-5px);
}
.service_icon_aderir{
    width: 54px;
    height: 54px;
    float: left;
    background-image: url(../images/services_icons.png);
    background-position-x: -85px;
    background-position-y: -437px;
    background-size: 280px;
}

.service_icon_incluir{
    width: 54px;
    height: 54px;
    float: left;
    background-image: url(../images/services_icons.png);
    background-position-x: -292px;
    background-position-y: -437px;
    background-size: 280px;
}

.service_icon_solicitar {
width: 54px;

height: 54px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -152px;

background-position-y: -437px;

background-size: 280px;
}

.service_icon_consultar{
width: 54px;

height: 54px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -292px;

background-position-y: -491px;

background-size: 280px;
}

.service_icon_quitar{
width: 54px;

height: 54px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -501px;

background-position-y: -488px;

background-size: 280px;
}

.service_icon_atualizar{
width: 54px;

height: 54px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -782px;

background-position-y: -437px;

background-size: 280px;
}

.service_icon_parcerias{
width: 53px;

height: 48px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -155px;

background-position-y: -491px;

background-size: 280px;
}

.service_icon_2via{
width: 54px;

height: 48px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -364px;

background-position-y: -491px;

background-size: 280px;
}

.service_icon_modelos{
width: 54px;

height: 55px;

float: left;

background-image: url(../images/services_icons.png);

background-position-x: -398px;

background-position-y: -537px;

background-size: 280px;
}

.service_item_title {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0 0 8px;

}

.service_item a {
    text-decoration: none;
    padding: 0 0 0 2px;
    color: #2c2c30;
    font-size: 16px;
}


.service_item a:hover {
 
    opacity: 0.7;
    
}

.service_itens_content {
    margin: 42px auto;
   
}

/* drupal */
.marker_section {	
    border-top: #006db9 1px solid;	
}