
/*
** CSS core
*/
.footer {
    background: #4a6279;

}
.marker_footer {
    color: white;
    margin: 12px 0;
    width: 80%;
}

.footer_box {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
    margin: 35px 0 14px 0;
    padding: 0 0px 0 19px;
    color: white;
    width: 100%;
}

.footer_box ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.footer_box a {
    text-decoration: none;
    color: white;
}

.footer_box a:hover{
    text-decoration: underline;
}


.footer_box h4 {
    text-transform: uppercase;
}

.footer_content {
    margin: 0 auto;
    max-width: 1129px;
}

/*
----------------------------- Sitemap -----------------------------
*/

#footer-sitemap {
    margin: 20px 0 0 10px;
}

#footer-sitemap ul li {
    min-width: 12%;
    margin-right: 10px;
    border-bottom: medium none;
}

#footer-sitemap ul li ul {
    margin: 0 0 0 0;
}

#footer-sitemap ul li ul li {
    background: rgba(0, 0, 0, 0) url("../images/marker.png") no-repeat scroll 4px center;
}

#footer-sitemap ul li a.fs-root-link, #footer-sitemap ul li span.fs-root-link.nolink {
    font-size: 1.25em;
    padding: 0 0 6px;
    font-weight: 600;
    display: block;
}

#footer-sitemap ul li a,#footer-sitemap ul li span.nolink {
    font-size: 1.15em;
    font-family: Overlock;
    color: #fff;
    letter-spacing: 0.05em;
    display: block;
    padding: 3px 13px 3px 15px;
}

#footer-sitemap ul li ul li a:hover {
    text-decoration: underline;
}

#footer-sitemap ul li ul li a:focus {
    text-decoration: underline;
    border: medium none;
}
/*
-------------------- marcos ----------------------
*/
#footer-sitemap .main-menu > .footer_links_main-menu > .first {
    display: none;
}

.footer_inner_credit {
    max-width: 1129px;
    margin: 0 auto;
}
#footer {
    overflow: hidden;
    background: #4a6279;
    border: none;
    margin-top: 0;
}