/*
** CSS core
**/

.news {
    margin: 202px 0 0 0;
}

.news_content{
    width: 1129px;
    margin: 0 auto;
}

.title_section h2 {
    color: #006db9;
    font-size: 19px;
}

.title_section {
    float: left;
    padding: 0 15px 0;
}

.view_more {
    float: right;
    right: 30px;
    width: 101px;
    background: #006db9;
    font-size: 0.8em;
    padding: 2px 10px 3px 10px;    
}

.view_more a {
    text-decoration: none;
    color: white;
}

.view_more a:hover {
    text-decoration: underline;
    
}

.news_box {
    width: 31.3%;
    display: inline-block;
    vertical-align: top;
    padding: 0 0px 16px 20.2px;
    font-size: 0.8em;
    margin: 25px 0 0;
}

.news_box p {

    color: #2c2c30;
}

.news_box img {
    box-shadow: 0 0 5px 0 rgba(157, 147, 147, 0.94);
    padding: 1px;
}

.read_more {
    float: left;
    right: 30px;
    width: 101px;
    background: #006db9;
    font-size: 0.9em;
    padding: 8px 10px 8px 10px;
    margin: 60px 0 0 0;
    text-align: center; 
}

.read_more a {
    text-decoration: none;
    color: white;
}

.read_more a:hover {
    text-decoration: underline;
}

.marker_section {
    clear: both;
    color: #afd5ec;
}

/* drupal */
.title-view {
    width: 1129px;
    margin: 0 auto;
    height: 35px;
    border-bottom: 1px solid #006db9;
    margin-bottom: 4px;
}
.col-left {
    width: 70%;
    float: left;
}
.col-left h2 {
font-size: 19px;
color: #006db9;
}
.col-right {
    width: 10%;
    float: right;
}
.col-right a {
font-size: 13px;
background-color: #006db9;
padding: 5px;
color: #fff;
}
.more-link-noticia {
background: #006db9;
padding: 7px;
float: left;
margin-top: 27px;
}
.more-link-noticia a {
color: #fff;
}
.view-noticias table {
    border: none;
}
.view-noticias table td {
    border: none;
}