/**** menu ***/
/*
.menu_wrapper {
  width: 100%;
}

.menu {
  width: 1129px;
  height: 36px;
  margin: 0 auto;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  float: left;
  padding: 5px;
}

.menu ul li a {
  color: #8e8e9b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
}

.menu ul li a:active {
  border-bottom: 2px solid #71b4dc;
}

.menu ul li a:hover {
  border-bottom: 2px solid #71b4dc;
}
 */

#header_wrapper .menu_wrapper {
    border-top: none;
    border-bottom: 3px double #ccddee;
}

#header_wrapper .menu_wrapper .menu_inner_wrap {
    max-width: 1020px;
}

#main-menu {
    width: 100%;
}

#main-menu > .menu-navigation-container > ul.menu {
    width: 100%;
}

#main-menu > .menu-navigation-container > ul.menu > li {
    padding-left: 10px;
    padding-right: 10px;
}
#main-menu a {
padding: 8px 12px;
}

/* segundo item do menu (jurusprudencia) */

#main-menu > .menu-navigation-container > ul.menu > li > span.nolink,
  #main-menu > .menu-navigation-container > ul.menu > li > a {
    text-align: center;
    text-transform: uppercase;
}

#main-menu ul.menu li {
    border: medium none;
}

#main-menu ul.menu li a, #main-menu ul.menu li span.nolink {
    font-family: "Open sans";
    font-weight: normal;
    font-size: 10pt;
    text-transform: none;
    letter-spacing: 0.05em;
    color: #333333;
    white-space: nowrap;
}

#main-menu ul.menu li span.nolink {
    padding: 8px 12px;
    display: block;
    cursor: default;
}

#main-menu ul.menu li ul {
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    display: none;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.176);
}

#main-menu ul.menu li ul li {
    width: 100%;
}

#main-menu ul.menu li ul li a {
    font-size:13px;
    color: #8e8e9b;
    background: #ffffff none repeat scroll 0 0;
    border: medium none;
    padding: 9px 40px 8px;
}

#main-menu ul.menu li:hover > a,#main-menu ul.menu li:hover > span.nolink {
    background: #e9e9e9 none repeat scroll 0 0;
    box-shadow: 1px 2px 1px #fff inset, -2px -2px 1px #fff inset;
    background: #ddd none repeat scroll 0 0;
}

#main-menu ul.menu li ul li:hover > a,#main-menu ul.menu li ul li a.active {
    background: #e0e0e0 none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #f0f0f0 inset, -1px -1px 3px #e0e0e0 inset;
    border: 1px solid white;
    padding: 8px 39px 7px;
}

#main-menu ul.menu li ul li:hover > a {
    border: 0;
}
#main-menu ul.menu li ul li:hover > a, #main-menu ul.menu li ul li a.active {
    border: 0;
}
/* /node page fix */

/*
#main-menu > div > ul.menu > li > a {
    background: #303c49 none repeat scroll 0 0;
}
*/

#main-menu li a.active {
    background: transparent none repeat scroll 0 0;
}

/* separator for Special menu items */
#main-menu ul.menu li > span.separator {
    display: block;
    height: 9px;
}

#main-menu ul.menu li > span.separator > hr {
    display: none;
}

/*
---------------------------- menu lateral [second-bar] -------------------------
*/
.region-sidebar-second .menu {
    height: auto;
    border: 1px solid #cecece;
    border-left: none;
}
.region-sidebar-second .menu  li {
    font-size: 15px;
}

.region ul.menu li, .region ul.links li, .region .item-list ul li {
    margin: 0;
    background: transparent;
}

.region-sidebar-second .menu  li a {
    border-left: 3px solid #d7d8da;
    padding: 13px 10px;
    display: block;
    color: #8e8e9b;
    letter-spacing: 0.06em;
}

.region-sidebar-second .menu li a:hover {
    border-left: 3px solid #4993c2;
    background: #f6f6f6;
}

.region-sidebar-second .menu li a.active {
    color: #555;
    border: 1px solid #eaeff2;
    border-left: 3px solid #d7d8da;
    background: #f6f6f6;
}

.region-sidebar-second ul.menu  li {
    padding: 0;
}

#sidebar-second .block h2 {
    color: #8e8e9b;
    border: none ;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Open sans';
}
