/* trabalhando a responsividade */
@media screen and (max-width: 640px){

    /*----------------top-menu----------------------*/
    .menu_topo {
	display: none;
    }
    /*--------------- search ----------------------*/
    #block-search-form {
	margin: 5px auto !important;
	float: none !important;
    }
    .top_right .region-search {
	float: none !important;
	margin: 5px auto !important;
    }
    
    /*---------------- main-menu -------------------*/
    #main-menu a {
	border: none !important;
	
    }

    #main-menu .nav-toggle {
	background: transparent !important;
    }
    
}