
.contact_content {
    width: 1129px;
    margin: 0 auto;
    padding: 15px;
}

.contact {
    background: -moz-linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 3%, rgba(207,207,207,1) 7%, rgba(247,247,249,1) 69%, rgba(247,247,249,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247,247,249,1)), color-stop(31%, rgba(247,247,249,1)), color-stop(93%, rgba(207,207,207,1)), color-stop(97%, rgba(207,207,207,1)), color-stop(100%, rgba(207,207,207,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 3%, rgba(207,207,207,1) 7%, rgba(247,247,249,1) 69%, rgba(247,247,249,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 3%, rgba(207,207,207,1) 7%, rgba(247,247,249,1) 69%, rgba(247,247,249,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 3%, rgba(207,207,207,1) 7%, rgba(247,247,249,1) 69%, rgba(247,247,249,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 3%, rgba(227,227,227,1) 7%, rgba(247,247,249,1) 69%, rgba(247,247,249,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f9', endColorstr='#cfcfcf',GradientType=0 ); /* ie6-9 */    
}

.contact_box {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    padding: 18px 14px 43px 7px;
    background: #fff;
    height: 172px;
    margin: 50px 0 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(242, 239, 239, 0.94);
    border-radius: 4px;
}

.contact_icon_phone{
    width: 63px;
    height: 74px;
    float: left;
    background-image: url(../images/services_icons.png);
    background-position-x: -66px;
    background-position-y: 66px;
    background-size: 423px;
}

.contact_icon_message{
    width: 63px;
    height: 74px;
    float: left;
    background-image: url(../images/services_icons.png);
    background-position-x: -173px;
    background-position-y: 67px;
    background-size: 423px;
}

.contact_icon_address{
    width: 63px;
    height: 74px;
    float: left;
    background-image: url(../images/services_icons.png);
    background-position-x: -281px;
    background-position-y: 66px;
    background-size: 423px;
}

.contact_title h2 {
    vertical-align: top;
    padding: 2px 0 0 27px;
}

.contact_title h2 {
    text-decoration: none;
    color: #646473;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 46px;
}

.contact_text p {
    font-size: 15px;
    color: #4f4f51;
}

.contact_title a:hover {
    text-decoration: underline;
}

.contact_text {
    /*padding: 30px 0 0 59px;*/
}

.contact_text p {
    text-align: justify;
    color: #4f4f51;
}