.container-wrap {max-width: 100% !important;}/*
**Importando font
*/
/* latin unicode-range */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans-v14.woff2') format('woff2'), url('../fonts/opensans-v15.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Overlock';
  font-style: normal;
  font-weight: 400;
  src: local('Overlock Regular'), local('Overlock-Regular'), url('../fonts/overlock-v6.woff2') format('woff2'), url('../fonts/overlock-v7.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    font-family: 'Open Sans';
}


/* reset header */
#inner_header_wrapper {
    background: transparent !important;

}

/*reset nas config inciais de margem e padding */
html {
  font-family: 'Open Sans' !important;
  margin-bottom: 0 !important;
}

p {
    margin: 0;
    padding: 0;
}

/********** reset style drupal *****************/
.menu_wrapper {
    background: transparent !important;
    border: none !important;    
}

#block-block-1 {
    height: 324px !important;
}

.views-view-grid {
    width: 1129px;
    margin: 0 auto;
}

.view .view-noticias .view-id-noticias .view-display-id-page .view-dom-id-b5e1a7df858c4c9aa9d4dbc81f43e42d .views-view-grid  {
    border: none !important;
}

/*block search */
.top_right .region-search {
    width: 80%;
}

#block-search-form {
    margin: 0;
    float: right;
}

#block-search-form .form-text {
    width: 168px;
}

/*header drupal */
#header_wrapper #header {
    max-width: 1129px;
    height: 114px;
}

/* menu drupal */
.menu_inner_wrap {
    max-width: 1129px !important;
}

.menu {
    /*height: 25px !important; */
}

#main-menu .nolink  {
    color: #8e8e9b !important;
    font-size: 10pt !important;
    font-weight: normal !important;
}

#main-menu a {
    color: #8e8e9b !important;
}

#main-menu li {
    border: none !important;
}

#main-menu li {
    background: #ffffff none repeat scroll 0 0;
}

#main-menu li a.active {
background: #e0e0e0 none repeat scroll 0 0
}
/*
---------------- page-node --------------------- 
*/
.page-node .container-wrap{
    max-width: 1129px !important;
    margin: 0 auto !important;
}

/*
---------------------- page-user-login --------------------------
*/
.page-user .container-wrap {
    max-width: 1129px !important;
}

.page-user .tabs-wrapper {
    display:none !important;

}

.page-user h1.page-title {
    font-family: 'Open Sans';
    font-size: 1.3em;
    font-weight: bold;
    color: #303c49;
    display: inline-block;
    margin: 5px 0 5px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page-user h1.page-title::after {
    background: #aac none repeat scroll 0 0;
    content: "";
    height: 1px;
    margin: 11px 0 0 5px;
    position: absolute;
    width: 100%;    
}

/*
--------------------------------- page-node ---------------------------------
*/

.page-node h1.page-title {
    font-family: 'Open Sans';
    font-size: 1.3em;
    font-weight: bold;
    color: #303c49;
    display: inline-block;
    margin: 16px 0 5px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page-node h1.page-title::after {
    background: #aac none repeat scroll 0 0;
    content: "";
    height: 1px;
    margin: 11px 0 0 5px;
    position: absolute;
    width: 100%;
}

.page-node .tabs-wrapper {
    border: none;
}

.page-node .tabs-wrapper .active {
    display: none;
}

.page-node .tabs-wrapper ul.tabs li a {
    border-radius: 4px;
    font-family: Overlock;
    font-size: 1.3em;
    padding: 3px 14px;
    border: 1px dashed #bbbaf5;
    color: rgb(60,73,114);
}

.page-node .tabs-wrapper ul.tabs li a:hover {
    background: #f0f0f0 none repeat scroll 0 0;
}

.submitted-by {
    font-size: 13px;
    color: #666;
    font-family: 'Open Sans';
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 3px;
    display: block;
    padding: 3px 0 3px 10px;
    margin: 30px 0 0;
    clear: both;
}

/*
------------------------- page-type-noticia -----------------------------
*/
.node-type-noticia h1.page-title {
    font-family: 'Open Sans';
    font-size: 2.5em !important;
    text-align: center;
    padding: 1% 5% 0;
}

.node-type-noticia h1.page-title::after {
    display:none;
}
.node-noticia{
    text-align: justify;
}
.node-type-noticia #content #post-content p {
    font-size: 1.3em;
    font-family: 'Open Sans';
    color: #333333;
    line-height: 1.5;
    letter-spacing: -0.7px;
    word-spacing: 3.3px;
    margin-bottom: 18px !important;
}

.node-type-noticia #content .field-name-field-noticia-imagem img {
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px 0px #CCC;
}

/*--------------------------- content ---------------------------*/
body.sidebar-second .content-sidebar-wrap {
    width: 72%;
}

.content-sidebar-wrap #content {
margin-bottom: 0 !important; /*tirando a margem de baixo do content */
}

/*--------------------------- siderbar ---------------------------*/
body.sidebar-second #sidebar-second {
    width: 25%;
}

/*------------------------ search ---------------------------------*/
.page-search-node .container-wrap {
    max-width: 1129px !important;    
}