
/*
**    Menus for Right Sidebar Region
*/

/* Main Menu */
.primary-menu-wrap {
    height: 34px;
}

.menu-base-theme > li {
    padding: 0;
	background: none;
}

ul.menu-base-theme > li:hover {
    background: #dbdcdd none repeat scroll 0 0;
}

ul.menu-base-theme > li > a {
    margin-top: 5px;
	margin-bottom: 5px;
    height: 24px;
    padding: 0px 24px 0px 24px;
    border-right: 1px solid #8e8e8e;
}

ul.menu-base-theme ul a {
	padding: 5px 24px;
}

ul.menu-base-theme > li:last-child > a {
	border-right: none;
}

/* icone de dropdown */
#main-menu > li > a > span {
	display: none;
}

.primary-menu-wrap, .region-primary-menu, .menu-base-theme li a {
    background: #eee;
    color: #333;
    font-size: 16px;
	height: 34px;
}

.menu-base-theme a:hover, .menu-base-theme a:focus, .menu-base-theme a:active, .menu-base-theme a.highlighted {
    color: #333;
	text-decoration: none;
	background: #dbdcdd none repeat scroll 0 0;
	padding: 0px 24px;
    /*background: #dbdcdd none repeat scroll 0 0;
    border-bottom: 1px solid #303c49;*/
}

.menu-base-theme ul a:hover, .menu-base-theme ul a:focus, .menu-base-theme ul a:active, .menu-base-theme ul a.highlighted {
    color: #333;
    background: #dbdcdd none repeat scroll 0 0;
	padding: 5px 24px;
}

/* Fix Base Theme */
.region-sidebar-second nav h2 {
    display: block;
}

.region-sidebar-second ul.menu {
    padding-left: 9px;
}

.region-sidebar-second ul.menu li {
    list-style-type: none;
    margin: 0 0 0 5px;
    padding: 6px 0 6px 4px;
    background-image: none;
    border-bottom: 1px dashed #bbbaf5;
}

.region-sidebar-second ul.menu li.leaf {
}

.region-sidebar-second ul.menu li.first.leaf:hover {
    border-top: 1px dashed #bbbaf5;
    padding-top: 5px;
}

.region-sidebar-second ul.menu li:hover {
    border-left: 4px solid #303c49;
    padding: 6px 0 6px 0px;
    background: #f0f3f5 none repeat scroll 0 0;
    border-right: 1px dotted #303c49;
}

.region-sidebar-second ul.menu li.leaf:hover {
    border-left: 4px solid #303c49;
    border-right: 1px dashed #bbbaf5;
}

.region-sidebar-second ul.menu li a {
    color: rgb(60, 73, 114); /* rgb(0, 13, 54); */
    font-family: Overlock;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    padding: 4px 0 5px 15px;
    text-decoration: none;
    display: block;
}

/* Title */
.region-sidebar-second nav h2 {
    border-bottom: 2px solid #676767;
    color: #444444;
    font-family: "Open Sans";
    font-size: 1.25em;
    margin: 0 0 0 14px;
    padding: 18px 0 6px 0;
    text-transform: uppercase;
    line-height: 30px;
}

.region-sidebar-second nav h2::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v7.png") repeat scroll 0px 0px;
    height: 32px;
    width: 32px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 20px;
}

/* Menu font for estrutura do tribunal */
.region-sidebar-second #block-novoportal-menuestruturadotribunal-2-menu {
    font-size: 1.1em;
    line-height: 32px;
}

/* Icon for Menu example */
.region-sidebar-second nav #block-useraccountmenu-menu::before {
    background-position: -330px 0px;
    margin: 0 5px 0 20px;
}



/* Home Menus */
.region-sidebar-second #block-menu-menu-servicos + div h2 {
    margin-top: 0px;
}

.region-sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2 {
    font-size: 1.2em;
    line-height: 32px;
}

.region-sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2::before {
    background-position: -368px 0px;
    margin: 0 5px 0 20px;
}

/*
**    Menus for Content Region
*/
