
/*
**     Site structure
*/

.main-header {
    background: none;
    background-size: cover;
    position: relative;
    position: relative;
    padding: 10px 0;
}

.container {
    width: 1129px; /*1920*/
}

/* Page width */
body .container {
    max-width: 1129px; /*1920*/
}

/* Content width */
body .container .content_layout > div {
    width: 71%;
}

/* Siderbar width */
body .container .sidebar > div {
    width: 27%;
    float: right;
}
