body {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

* {
    font-family: 'Open Sans';
}

.site-branding__name {
	display: none;
}

.main-header {
	background: none;
	background-size: cover;
	position: relative;
	position: relative;
	padding: 10px 0;
}

div.row.novoportal-header {
	height: 25px;
	background: #01426a;
	color: #ffffff;
	font-size: 12px;
}

.header_content {
	/*margin: 0 auto;
	width: 1129px;*/
}

.accessibility {
	display: inline-block;
	vertical-align: top;
	width: 435px;
	height: 15px;
	padding: 3px 0 0 0;
}

.accessibility ul {
	list-style: none;
}

.accessibility ul li {
	float: left;
	padding: 0 0 0 7px;
	
}

.accessibility ul li a {
	text-decoration: none;
	color: #ffffff;
}

.accessibility ul li a:hover {
	text-decoration: underline;
}

.translation_tools {
	display: inline-block;
	vertical-align: top;
	width: 265px;
	height: 15px;
	padding: 4px 0 0 131px;
}

.translation_tools ul li {
	float: left;
	list-style: none;
	padding: 0 0 0 7px;
}

.translation_tools ul li a {
	text-decoration: none;
	color: #ffffff;
}

.translation_tools ul li a:hover {
	text-decoration: underline;
}


.access_links {
	display: inline-block;
	vertical-align: top;
	height: 15px;
	padding: 3px 0 0 0;
	float: right;
}

.access_links ul {
	margin-top: 3px;
}

.icons_access_links {
	width: 20px;
	height: 15px;
	margin: 0 0 0 13px;
}
.icons_information {
	background-image: url("../images/icone - superior (5).png");
	background-size: 15px;
	background-repeat: no-repeat;
	
}

.icons_zoom_less {
	background-image: url("../images/icone - superior (3).png");
	background-size: 17px;
	background-repeat: no-repeat;
}

.icons_zoom_more {
	background-image: url("../images/icone - superior (4).png");
	background-size: 20px;
	background-repeat: no-repeat;
}

.icons_libras {
	background-image: url("../images/icone - superior (2).png");
	background-size: 15px;
	background-repeat: no-repeat;
}

.icons_contrast {
	background-image: url("../images/icone - superior (1).png");
	background-size: 15px;
	background-repeat: no-repeat;

}

.icons_intranet {
	width: 40px;
	/*height: 20px;*/
	margin: 3px 0 0 10px;
	background-image: url("../images/icone - superior (6).png");
	background-size: 40px;
	background-repeat: no-repeat;
}


.access_links ul li {
	list-style: none;
	float: left;
}

/*
	menu de identidade
*/

.novoportal-identidade {
	margin-top: 20px;
}

div.container.novoportal-identidade > div > div:nth-child(2) {
	margin-top: 20px;
}

/*.identity_content {
	margin: 0 auto;
	width: 1129px;
	height: 144px;  
}*/

/*.top_left {
	float: left;
}

.top_right {
	float: right;
}*/

/*.mark_area {
	float: left;
	margin: 24px 0 0;
	width: 504px;
	height: 88px;
	background: url(../img/marca_tribunal.png) repeat scroll 0 0;
	background-size: 504px;
}*/

/*.social_icons {
	float: right;
	margin: 24px 0 0;
	width: 270px;
	height: 27px;
	
}

.social_icon {
	float: right;
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 27px;
	margin: 0 0 0 4px;
   
}*/

.social-media {
	margin: 10px 0 0 0;
	overflow: hidden;
}

.social-media a {
	width: 20px;
	margin: 0 0 0 20px;
}

a.social_facebook {
	background: url("../images/icones - redes sociais (1).png");
	background-size: 20px;
	background-repeat: no-repeat;
}

a.social_twitter {
	background: url("../images/icones - redes sociais (5).png");
	background-size: 20px;
	background-repeat: no-repeat;
}

a.social_instagram {
	background: url("../images/icones - redes sociais (4).png");
	background-size: 20px;
	background-repeat: no-repeat;
}

a.social_email {
	background: url("../images/icones - redes sociais (3).png");
	background-size: 20px;
	background-repeat: no-repeat;
}

@media (min-width: 991px) {
	
	.search_area {
		clear: both;
		float: right;

	}

	#search-block-form > div > #edit-keys {
		width: 262px;
		height: 20px;
	}

	#search-block-form > div > #edit-submit{
		width: 20px;
		height: 20px;
		background-color: #FBDB65;
		background-image: url("../images/search-icon.png");
		background-size: 15px;
		background-repeat: no-repeat;
		background-position: 2px;
	}
}

/*.search_bar {
	clear: both;
	float: right;
	width: 262px;
	height: 20px; 
	margin: 7px 0;
	border: 1px solid #C7C7C7;  
}

.search_input {
	float: right;
	height: 18px;
	width: 230px;
	border: 0;
}

.search_icon {
	float: right;
	width: 30px;
	height: 20px;
	background: #01426a url(../img/search-icon.png)  no-repeat center top;
	background-size: 15px;
	background-position: 7px 3px;
}*/

@media (max-width: 991px) {
	
	.translation_tools {
		display: none;
	}
	
	#search-block-form > div > #edit-submit{
		background-color: #FBDB65;
		background-image: url("../images/search-icon.png");
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: 50%;
	}
}
	
@media (max-width: 767px) {
	
	body > div > header > div.novoportal-header {
		display: none;
	}
	
	.site-branding {
		text-align: center;
	}
	
	.social-media {
		display: none;
	}
}

/*@media (max-width: 575.98px) {  }

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) { }

@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) { }*/
