
/*
**    Exposed Fields
*/
.views-exposed-form > .form-item {
    float: left;
    margin: 0 10px 7px 0;
}

.views-exposed-form > .form-item > label {
    width: 100%;
    display: block;
    color: rgb(102, 102, 102);
}

.views-exposed-form > .form-item > select {
    padding: 6px;
    font-size: 13px;
}

/*
**    Views for tables
*/

.views-table table {
    width: 100%;
}

.views-table table caption {
    background: #303c49 none repeat scroll 0 0;
    box-shadow: 0 0px 3px inset;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

.views-table table td {
    border: 1px solid #DBDBDB;
    color: #747474;
}

/*
**    Views for slideshow
*/

/* Fix slideshow region */
.slideshow .region-slideshow {
    border: 0 none;
}
.views_slideshow_cycle_teaser_section {
    width: auto !important;
    /*height: 245px !important;*/
}

.views_slideshow_cycle_slide {
    width: 100% !important;
    /*height: 245px !important;*/
}

/*
**    Views for accordion
*/

.views-accordion .views-exposed-form {
    height: 70px;
}

.views-accordion .views-exposed-form .form-submit {
    margin-top: 20px;
}

/*
**	Views página inicial
*/

header > div > div > div.views-field.views-field-field-noticia-imagem-destaque {
	float: left;
	margin-right: 20px;
}

header > div > div > div.views-field.views-field-title {
	margin-bottom: 20px;
}

header > div > div > div.views-field.views-field-field-noticia-substitulo {
	
}

header > div > div > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img
{
	width: 346px;
	height: 231px;
}

header > div > div > div.views-field.views-field-title > span > a {
	
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	color: #01426a;
}

header > div > div > div.views-field.views-field-field-noticia-substitulo > div {
	font-family: Arial;
	font-size: 16px;
	color: #333333;
}

#block-novoportal-content > div > div > footer > div > header > div > footer{
	margin-top: 20px;
}

#block-novoportal-content > div > div > footer > div > header > div > footer > a{
	color: #333333;
}

#block-novoportal-content > div > div > footer > div > div {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

#block-novoportal-content > div > div > footer > div > div > div > div.views-col.col-2,
#block-novoportal-content > div > div > footer > div > div > div > div.views-col.col-1 {
	padding-right: 20px;
}
#block-novoportal-content > div > div > footer > div > div > div > div.views-col.col-3 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img,
#block-novoportal-content > div > div > footer > div > div > div > div.views-col.col-2 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img,
#block-novoportal-content > div > div > footer > div > div > div > div.views-col.col-1 > div.views-field.views-field-field-noticia-imagem-destaque > div > a > img {
	width: 275px;
	height: 182px;
}

#block-novoportal-content > div > div > footer > div > div > div > div > div.views-field.views-field-title > span > a {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: 01426a;
	text-decoration: none;
}

/* View Mais Notícias */

.vw-mais-noticias > h1{
    font-family: Arial;
	font-size: 22px;
	color: #2b4570;
	border-bottom: 3px solid #04785a;
	margin-bottom: 20px;
}

.vw-mais-noticias > .views-row:not(:last-child){
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted;
}

.vw-mais-noticias > .views-row > .views-field-title a:hover, .vw-mais-noticias > .views-row > .views-field-title > .field-content a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.vw-mais-noticias > .views-row > .views-field-title{
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	color: #01426a
}

.vw-mais-noticias > .views-row > .views-field-field-noticia-substitulo{
	font-family: Arial;
	font-size: 14px;
	color: #333333
}

/**/

div.vw-banner {
	margin-top: 30px;
}

div.vw-banner > div.skin-default > div.views_slideshow_cycle_main > div.views_slideshow_cycle_teaser_section > div.views_slideshow_cycle_slide
 > div.views-row > div.views-field-field-eslaide > div.field-content > img {
	height: 187px;
}


/**/

.v-grid-iniciativas-do-tribunal:nth-child(1) {
	margin-top: 30px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div {
	text-align: center;
}

.views-field-field-servicos-adicionais-imagem img {
	width: 40px;
	height:auto;
	text-align: center;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(1) {
	margin-top: 15px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(4),
div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(7) {
	margin-top: 10px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(9) .views-field-field-servicos-adicionais-imagem img {
	width: 30px;
}

div.views-field.views-field-title a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.v-grid-iniciativas-do-tribunal > div > div > div > .views-field-title {
	text-align: center;
	margin-top: 5px;
}