#bottom_wrapper {
	background-color: #a5b4c2;
	/*height: 80px;*/
}

/*

*/

.v-grid-programas-jt {
	background-color: #a5b4c2;
}

.v-grid-programas-jt > div > div {
	text-align: center;
	padding: 5px;
}

.v-grid-programas-jt > div > div > div {
	padding: 5px;
}

.v-grid-programas-jt > div > div > div:not(:last-child) {
	border-right: 1px solid #d2d9e0;
}

.v-grid-programas-jt > div > div > div > div > div > a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.v-grid-programas-jt > div > div > div  > div  > div  > a > img {
	width: 160px;
	height: 100%;
}

div.v-grid-programas-jt > div > div > div.views-col.col-1,
div.v-grid-programas-jt > div > div > div.views-col.col-2,
div.v-grid-programas-jt > div > div > div.views-col.col-4 {
	margin-top: 10px;
}

div.v-grid-programas-jt > div > div > div.views-col.col-3,
div.v-grid-programas-jt > div > div > div.views-col.col-5 {
	margin-top: 15px;
}

@media (max-width: 767px) {
		
	.v-grid-programas-jt > div > div > div:not(:last-child) {
		width: 50% !important;
	}
	
	.v-grid-programas-jt > div > div > div {
		width: 100% !important;
	}
	
	.v-grid-programas-jt > div > div > div:nth-child(2n) {
		border-right: none;
	}
	
}