/* style rodape */
/*############ footer ##############*/
.footer_wrapper {
    width: 100%;
    background: #23517e;
    
}
.bloco_footer {
    display: inline-block;
    margin-right: 30px;
}
.footer_content {
    width: 1129px;
    margin: 0 auto;
    padding-top: 10px;
    height: auto;
    height: 140px;
    padding-bottom: 10px;
}
.logo_footer {
    width: 18%;
    border-right: 3px solid #fff;
  

}
.logo_footer img {
    width: 138px;
    height: 106px;
}
.endereco_footer {
    width: 22%;
    height: 120px;
    
   
}
.endereco_footer p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 14px;
}
.mapa_site {
    width: 18%;
    padding-left: 70px;

}
.mapa_site h2 {
    color: #fff;
    font-weight: bold;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}
.mapa_site ul {
    list-style: none;
}
.mapa_site ul li a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    text-decoration: none;
}
.mapa_site ul li a:hover {
border-bottom:1px solid #fff;
}
.mapa_site ul li {
    margin-bottom: 2px;
}
.mapa_site ul li a .icon {
    margin-right: 3px;
    font-weight: bold; 
    color: #9bacb4;
}
.rede_social {
    width: 20%;
    float: right !important;
    margin-right: 0 !important;
}
.rede_social ul {
    list-style: none;
}
.rede_social ul li {
    float: left;
    margin-left: 26px;
}
.rede_social .social {
    width:30px;
    height:30px;
    border-radius: 20px;
}
.rede_social .facebook {
    background-image: url('../img/social_footer.png');
    background-position: 149px 33px;
}
.rede_social .twitter {
    background-image: url('../img/social_footer.png');
    background-position: 110px 30px;
}
.rede_social .instagram {
    background-image: url('../img/social_footer.png');
    background-position: 220px 30px;
}
.rede_social .email {
    background-image: url('../img/social_footer.png');
    background-position: 328px 30px;
}
.rede_social .exclamacao {
    display: block;
    width: 100%;
    clear: both;
    text-align:right;
    padding-top: 15px;
}
.rede_social .exclamacao img {
    width: 35px;
    height: 35px;
}