/*########### servicos bottom ###############*/

.servicos_bottom_wrapper {
    width: 100%;
    clear: both;
}
.servicos_bottom_content {
    width: 1029px;
    height: 113px;
    margin-top: 10px;
}
.servicos_bottom_content ul {
    list-style: none;
}
.servicos_bottom_content .servico {
    float: left;
    margin-right: 0;
    text-align: center;
    width: 10%;
}
.servicos_bottom_content .servico {
    transition: transform 0.3s;
}
.servicos_bottom_content .servico:hover {
    transform: translateY(-5px);
}
.servicos_bottom_content .servico h4 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
    color: #01426a;
}
.servicos_bottom_content .servico .title {
    height: 30px;
}
.servicos_bottom_content .servico .icon_servico {
    width: 50px;
    height: 50px;
    background: #cece;
    margin: 0 auto;
}
.servicos_bottom_content .servico .push {
    background: url('../img/icons_service2v.png');
    background-position: 0px -2px;
}
.servicos_bottom_content .servico .precatorios {
    background: url('../img/icons_service2v.png');
    background-position: -55px -2px;
}
.servicos_bottom_content .servico .portal_do_advogado {
    background: url('../img/icons_service2v.png');
    background-position: -111px 0px;
}
.servicos_bottom_content .servico .editais_e_avisos {
    background: url('../img/icons_service2v.png');
    background-position: -170px -5px;
}
.servicos_bottom_content .servico .biblioteca {
    background: url('../img/icons_service2v.png');
    background-position: -228px -5px;
}
.servicos_bottom_content .servico .estatisticas {
    background: url('../img/icons_service2v.png');
    background-position: -290px -5px;
}
.servicos_bottom_content .servico .agenda {
    background: url('../img/icons_service2v.png');
    background-position: -353px -4px;
}
.servicos_bottom_content .servico .gestao {
    background: url('../img/icons_service2v.png');
    background-position: -413px -4px;
}
.servicos_bottom_content .servico .escola_judicial {
    background: url('../img/icons_service2v.png');
    background-position: -475px -6px;
}
.servicos_bottom_content .servico .trt_saude {
    background: url('../img/icons_service2v.png');
    background-position: -535px -6px;
}


.ultimo_servico {
    margin-right: 0 !important;
}