/* serviços banner rotativo */
/*####### Banner rotary #############*/
/*####### Banner rotary #############*/

.banner_rotary_wrapper {
    width: 100%;
}
.banner_content {
    width: 1129px;
    
}
.banner_content img {
    width: 1129px;
    height: 187px;
}
