.header_wrapper {
    height: 25px;
    background: #01426a;
    color: #ffffff;
    font-size: 12px;
}
.header_content {
    margin: 0 auto;
    width: 1129px;

}
.accessibility {
    display: inline-block;
    vertical-align: top;
    width: 396px;
    height: 15px;
    padding: 3px 0 0 0;
}

.accessibility ul {
    list-style: none;
}

.accessibility ul li {
    float: left;
    padding: 0 0 0 7px;
    
}

.accessibility ul li a {
    text-decoration: none;
    color: #ffffff;
}

.accessibility ul li a:hover {
    text-decoration: underline;
}

.translation_tools {
    display: inline-block;
    vertical-align: top;
    width: 119px;
    height: 15px;
    padding: 4px 0 0 201px;
    
}

.translation_tools ul li {
    float: left;
    list-style: none;
    padding: 0 0 0 7px;
}

.translation_tools ul li a {
    text-decoration: none;
    color: #ffffff;
}

.translation_tools ul li a:hover {
    text-decoration: underline;
}


.access_links {
    display: inline-block;
    float: right;
    vertical-align: top;
    height: 15px;
    padding: 3px 0 0 0;
}

.access_links ul li {
    list-style: none;
    float: left;
}
.icons_access_links {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 15px;
    margin: 0 0 0 13px;
}
.icons_information {
    background: url(../img/icons_top.png) repeat scroll 0 0;
    background-size: 87px;
    background-position: 41px 68px;
}

.icons_zoom_less {
    background: url(../img/icons_top.png) repeat scroll 0 0;
    background-size: 88px;
    background-position: 243px 141px;
}

.icons_zoom_more {
    background: url(../img/icons_top.png) repeat scroll 0 0;
    background-size: 79px;
    background-position: 58px 37px;

}

.icons_libras {
    background: url(../img/icons_top.png) repeat scroll 0 0;
    background-size: 85px;
    background-position: -3px -32px;
}

.icons_contrast {
    background: url(../img/icons_top.png) repeat scroll 0 0;
    background-size: 89px;
    background-position: -3px 68px;

}

.icons_intranet {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 20px;
    margin: 0 0 0 10px;
    background: url(../img/icons_top.png) repeat scroll 0 0;
    background-size: 140px;
    background-position: -223px 56px;
}

.identity_content {
    margin: 0 auto;
    width: 1129px;
    height: 144px;
    
}

.top_left {
    float: left;
}

.top_right {
    float: right;
}

.mark_area {
    float: left;
    margin: 24px 0 0;
    width: 420px;
    height: 98px;
    background: url(../img/marca_tribunal.png) repeat scroll 0 0;
}
.social_icons {
    float: right;
    margin: 24px 0 0;
    width: 270px;
    height: 27px;
    
}

.social_icon {
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 27px;
    height: 27px;
    margin: 0 0 0 4px;
   
}

.social_facebook {
    background: url(../img/social_icons.png) repeat scroll 0 0;
    background-size: 145px;
    background-position-x: 0px;
    background-position-y: 1px;
}

.social_twitter {
    background: url(../img/social_icons.png) repeat scroll 0 0;
    background-size: 145px;
    background-position-x: 27px;
    background-position-y: -1px;
}

.social_instagram {
    background: url(../img/social_icons.png) repeat scroll 0 0;
    background-size: 145px;
    background-position-x: 55px;
    background-position-y: -1px;
}

.social_msg {
    background: url(../img/social_icons.png) repeat scroll 0 0;
    background-size: 145px;
    background-position-x: 86px;
    background-position-y: -1px;
}

.social_rss {
    background: url(../img/social_icons.png) repeat scroll 0 0;
    background-size: 145px;
    background-position-x: 113px;
    background-position-y: 1px;
}

.search_bar {
    clear: both;
    float: right;
    width: 262px;
    height: 20px; 
    margin: 7px 0;
    border: 1px solid #C7C7C7;  
}

.search_input {
    float: right;
    height: 18px;
    width: 230px;
    border: 0;
}

.search_icon {
    float: right;
    width: 30px;
    height: 20px;
    background: #01426a url(../img/search-icon.png)  no-repeat center top;
    background-size: 15px;
    background-position: 7px 3px;
}