/**/

.v-grid-iniciativas-do-tribunal:nth-child(1) {
	margin-top: 30px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div {
	text-align: center;
}

.views-field-field-servicos-adicionais-imagem img {
	width: 40px;
	height:auto;
	text-align: center;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(1) {
	margin-top: 15px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(4),
div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(7) {
	margin-top: 10px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(9) .views-field-field-servicos-adicionais-imagem img {
	width: 30px;
}

div.views-field.views-field-title a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.v-grid-iniciativas-do-tribunal > div > div > div > .views-field-title {
	text-align: center;
	margin-top: 5px;
}

@media (max-width: 767px) {
	
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-1,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-2,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-3,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-4,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-5 {
		width: 20% !important;
	}
	
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-6,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-7,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-8,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-9,
	#block-views-block-dobra-2-block-1 > div > div > footer > div > footer > div > div > div > div.views-col.col-10 {
		display: none;
	}
}