
/* Overide default body background */
body {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

* {
    font-family: 'Open Sans';
}

/*
**     Site structure
*/

.container {
    max-width: 1129px; /*1920*/
}

/* Page width */
body .container {
    max-width: 1129px; /*1920*/
}

/* Content width */
/*body .container .content_layout > div {
    width: 71%;
}*/

/* Siderbar width */
/*body .container .sidebar > div {
    width: 27%;
    float: right;
}*/

/* Footer */
/*.footerwidget {
    background: #23517e;
    padding: 10px 0;
}

.footerwidget p{
    color: #fff;
}

#block-enderecodotribunal > div.quickedit-field p {
    margin: 0 0 10px 0;
}

.footerwidget > div > div > div {
    padding-left: 25px;
}

.footerwidget > div > div > div {
    margin-top: 20px;
}*/

/* Mapa do site */
/*.footerwidget > div > div > div:nth-child(3) {
    margin-top: 0px;
}*/

/* Icones sociais */
/*body > div.dialog-off-canvas-main-canvas > div.footerwidget > div > div > div:nth-child(4){
    margin-top: 0px;
}

.footerwidget > div > div > div:first-child {
    border-right: 3px solid #fff;
}*/

/*.footerwidget > div > div > div > div > div.quickedit-field {*/
/*#block-mapadosite > div.quickedit-field {
    margin-top: 20px;
}

#block-mapadosite > div.quickedit-field p {
    margin: 0 0 10px 0;
}*/

@media (max-width: 767px) {
	
	.container {
		width: auto; /*1920*/
	}

	/* Page width */
	body .container {
		width: auto; /*1920*/
	}
}