/* region: header */

.region-header {
  margin: auto;
  max-width: 1140px;
}

.region-header div:nth-child(1) {
  float: left;
}

.region-header div:nth-child(n+2) {
  float: right;
  clear: right;
}

.region-header ul {
  list-style: none;
  margin: 24px;
}

.social-icon {
  float: right;
  margin: 0 0 0 6px;
  border-radius: 20px;
}

.social-icon a {
  text-decoration: none;
}

.social-icon a::before {
  content: ".";
  color: transparent;
  display: inline-block;
  vertical-align: top;
  width: 31px;
  height: 30px;
  background: url(/themes/jt_theme/images/redes_sociais.png) repeat scroll 0 0;
}

.icon-instagram a::before {
  background-position: 0px 0px;
  background-size: 266px;
}

.icon-podcast a::before {
  background-position: -232px 0px;
  background-size: 266px;
}

.icon-youtube a::before {
  background-position: -232px 0px;
  background-size: 266px;
}

.icon-flickr a::before {
  background-position: -116px 0px;
  background-size: 266px;
}

.icon-facebook a::before {
  background-position: -37px 0px;
  background-size: 266px;
}

.icon-twitter a::before {
  background-position: -76px 0px;
  background-size: 266px;
}

.icon-rss a::before {
  background-position: -194px 0px;
  background-size: 266px;
}
