
/*
**    Menus for Right Sidebar Region
*/
.navbar-header, .navbar {
	max-height: 34px; /*50px*/
}

/* Main Menu */
.primary-menu-wrap {
    /*height: 34px;*/
}

.menu-base-theme > li {
    padding: 0;
	background: none;
	/*min-width: 128px;*/
    text-align: center;
}

.menu-base-theme > li li {
    text-align: left;
}

ul.menu-base-theme > li:hover {
    /*background: #dbdcdd none repeat scroll 0 0;*/
	background: #eee none repeat scroll 0 0;
	/*border-bottom: 1px solid #303c49;*/
}

ul.menu-base-theme > li > a {
    margin-top: 5px;
	margin-bottom: 5px;
    height: 24px;
    padding: 0px 24px 0px 24px;
    border-right: 1px solid #8e8e8e;
}

ul.menu-base-theme ul a {
	padding: 5px 24px;
}

ul.menu-base-theme > li:last-child > a {
	border-right: none;
}

/* icone de dropdown */

nav > ul > li > a > span {
	display: none;
}

.primary-menu-wrap, .region-primary-menu, .menu-base-theme li a {
    background: #eee;
    color: #333;
    font-size: 12pt; /*TODO: pós retirada font-size: 16px;*/
	/*height: 34px;*/
}

.menu-base-theme a:hover, .menu-base-theme a:focus, .menu-base-theme a:active, .menu-base-theme a.highlighted {
    color: #333;
	text-decoration: none;
	/*background: #dbdcdd none repeat scroll 0 0;*/
	background: #eee none repeat scroll 0 0;
	padding: 0px 24px;
    /*border-bottom: 1px solid #303c49;*/
}

.menu-base-theme ul a:hover, .menu-base-theme ul a:focus, .menu-base-theme ul a:active, .menu-base-theme ul a.highlighted {
    color: #333;
    background: #dbdcdd none repeat scroll 0 0;
	padding: 5px 24px;
}

/* Fix Base Theme */
.region-sidebar-second nav h2 {
    display: block;
}

.region-sidebar-second ul.menu {
    padding-left: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
	/*list-style-image: url("../images/icones - lateral (2)-2.png");*/
}

div.region-sidebar-second > nav > ul > li:nth-child(n) > a {
	background-position: left;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}

div.region-sidebar-second > nav > ul > li:nth-child(1) > a {
    background-image: url("../images/icones - lateral (2).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(2) > a {
    background-image: url("../images/icones - lateral (1).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(3) > a {
    background-image: url("../images/icones - lateral (4).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(4) > a {
    background-image: url("../images/icones - lateral (3).png");
}
div.region-sidebar-second > nav > ul > li:nth-child(5) > a {
    background-image: url("../images/icones - lateral (5).png");
}
div.region-sidebar-second > nav > ul > li:nth-child(6) > a {
    background-image: url("../images/icones - lateral (6).png");
}
div.region-sidebar-second > nav > ul > li:nth-child(7) > a {
    background-image: url("../images/icones - lateral (7).png");
	margin-top: 5px;
}
div.region-sidebar-second > nav > ul > li:nth-child(8) > a {
    background-image: url("../images/icones - lateral (8).png");
}

.region-sidebar-second ul.menu li:nth-child(1) {
    border-top: 1px solid #b2c6d2;
}

div.region-sidebar-second > nav > ul.menu > li {
    list-style-type: none;
    margin: 0 0 0 5px;
    padding: 0px 0 0px 4px;
    border-bottom: 1px solid #b2c6d2;
	max-height: 55px;
}

.region-sidebar-second ul.menu li.leaf {
}

/*.region-sidebar-second ul.menu li.first.leaf:hover {
    border-top: 1px dashed #bbbaf5;
    padding-top: 5px;
}*/

.region-sidebar-second ul.menu li:hover {
    /*border-left: 1px solid #303c49;
    border-right: 1px dotted #303c49;*/
}

.region-sidebar-second ul.menu li.leaf:hover {
    border-left: 1px solid #303c49;
    border-right: 1px solid #dbdcdd;
}

div.region-sidebar-second > nav > ul.menu li a {
	padding: 10px 0 15px 60px;
}

.region-sidebar-second ul.menu li a {
    /*color: rgb(60, 73, 114); /* rgb(0, 13, 54); */
    /*font-family: Overlock;*/
    /*font-size: 1.25em;*/
    letter-spacing: 0.05em;
    padding: 10px 0 15px 0px;
    text-decoration: none;
    display: block;
	
	color: #01426a;
	font-family: Arial;
	font-weight: bold;
	font-size: 17px;
	width: 215px;
	margin-bottom: 5px;
}

/*div.region-sidebar-second > nav > ul > li:nth-child(1) > a {
	background-image: url("../images/icones - lateral (2).png") no-repeat;
}*/

/* Title */
.region-sidebar-second nav h2 {
    border-bottom: 2px solid #676767;
    color: #444444;
    /*font-family: "Open Sans";*/
    font-size: 1.25em;
    margin: 0 0 0 14px;
    padding: 18px 0 6px 0;
    text-transform: uppercase;
    line-height: 30px;
}

.region-sidebar-second nav h2::before {
    background: rgba(0, 0, 0, 0) url("../images/menu-icons_v7.png") repeat scroll 0px 0px;
    height: 32px;
    width: 32px;
    content: ".";
    color: transparent;
    display: inline-block;
    margin: 0 5px 0 20px;
}

/* Menu font for estrutura do tribunal */
/*.region-sidebar-second #block-novoportal-menuestruturadotribunal-2-menu {
    font-size: 1.1em;
    line-height: 32px;
}*/

/* Icon for Menu example */
/*.region-sidebar-second nav #block-useraccountmenu-menu::before {
    background-position: -330px 0px;
    margin: 0 5px 0 20px;
}*/

/*
**    Menus for Content Region
*/

/* Home Menus */
/*.region-sidebar-second #block-menu-menu-servicos + div h2 {
    margin-top: 0px;
}

.region-sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2 {
    font-size: 1.2em;
    line-height: 32px;
}

.region-sidebar-second #block-menu-menu-iniciativas-do-tribuna > h2::before {
    background-position: -368px 0px;
    margin: 0 5px 0 20px;
}*/

@media (max-width: 767px) {
	
	body > div > div.row.primary-menu-wrap > div > div > div {
		padding: 0;
	}
	
	nav.navbar.navbar-default > a.nav-toggle {
		display: none;
	}
	
	body > div > div.row.primary-menu-wrap {
		margin-right: 0px;
		margin-left: 0px;
	}
	
	div#wrapper > div.container > div.row.layout > div.sidebar {
		margin: 0px 10px 0px 10px;
	}	
	ul#main-menu > li > a > span {
		display: block;
		/*margin-top: -10px;*/
	}
	
	.menu-base-theme a span.sub-arrow {
		padding: 0px;
		border: none;
	}

	nav.navbar.navbar-default > a.nav-toggle {
		display: block;
		text-align: center;
		color: black;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.navbar {
		min-height: 34px; /*50px*/
	}
	
	/*#block-novoportal-main-menu {
		margin-top: 50px;
	}*/
	
	body > div > div.row.primary-menu-wrap > div > div > div > nav > div {
		float:left;
		display: none;
		width: 100%;

	}
	
	.region-primary-menu {
		display: none;
	}
	
	ul.menu-base-theme > li > a {
		border-right: none;
		
	}
	
	ul.menu-base-theme li a {
		text-align: center;
		font-variant: all-petite-caps;
		font-size: 15pt;
	}
	
	.menu-base-theme ul {
		padding: 0;
		background-color: #fff;
		background: rgba(255, 255, 255, 0.74);
	}
	
	.menu-base-theme > li {
		border-top: 1px solid;
		/* margin-top: -1px; */
	}
	
	.menu-base-theme ul > li, .menu-base-theme ul li:first-child {
		border-top: 1px solid #a8a8a8;
	}
	
	.menu-base-theme ul {
		border: 0px;
	}
	
	/* menu lateral */
	
	div.region-sidebar-second {
		display: none;
	}
	
	/*div.region-sidebar-second > nav > ul.menu > li {
		width: 50%;
		float: left;
		margin: 0 auto;
	}
	
	.region-sidebar-second ul.menu li:nth-child(1), .region-sidebar-second ul.menu li:nth-child(2) {
		border-top: 1px solid #b2c6d2;
	}
	
	div.region-sidebar-second > nav > ul.menu > li > a {
		width: 100%;
	}
	
	div.region-sidebar-second > nav > ul.menu li a {
		padding-left: 40px;
	}

	div.region-sidebar-second > nav > ul.menu > li:nth-child(5),
	div.region-sidebar-second > nav > ul.menu > li:nth-child(6) {
		max-height: 65px !important;
	}
	
	div.region-sidebar-second > nav > ul.menu > li:nth-child(6) > a {
		background-image: url("../images/icones - lateral (6).png");
		margin-top: -5px;
	}
	
	ul.menu-base-theme ul a {
		background-color: lightgray;
	}
	
	.menu-base-theme a span.sub-arrow {
		background: none;
	}*/
}