/**/

.v-grid-iniciativas-do-tribunal:nth-child(1) {
	margin-top: 30px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div {
	text-align: center;
}

.views-field-field-servicos-adicionais-imagem img {
	width: 40px;
	height:auto;
	text-align: center;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(9) {
	margin-top: 15px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(3),
div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(5) {
	margin-top: 10px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(9) .views-field-field-servicos-adicionais-imagem img {
	width: 30px;
}

div.views-field.views-field-title a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.v-grid-iniciativas-do-tribunal > div > div > div > .views-field-title {
	text-align: center;
	margin-top: 5px;
}

@media (max-width: 767px) {
	
	div.v-grid-iniciativas-do-tribunal > div > div > div
	{
		width: 20% !important;
	}
}