#bottom_wrapper {
	background-color: #a5b4c2;
	height: 80px;
}

/*

*/

.v-grid-programas-jt {
	background-color: #a5b4c2;
}

.v-grid-programas-jt > div > div {
	text-align: center;
	/*padding: 5px;*/
}

.v-grid-programas-jt > div > div > div {
	padding: 5px;
}

.v-grid-programas-jt > div > div > div:not(:last-child) {
	border-right: 1px solid #d2d9e0;
}

.v-grid-programas-jt > div > div > div > div > div > a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.v-grid-programas-jt > div > div > div  > div  > div  > a > img {
	width: 160px;
	height: 100%;
}

div.v-grid-programas-jt > div > div > div {
	height: 50px;
}

div.v-grid-programas-jt > div > div > div.views-col.col-1,
div.v-grid-programas-jt > div > div > div.views-col.col-2,
div.v-grid-programas-jt > div > div > div.views-col.col-4 {
	
}

div.v-grid-programas-jt > div > div > div.views-col.col-3,
div.v-grid-programas-jt > div > div > div.views-col.col-5 {
	
}

@media (max-width: 767px) {
	
	#bottom_wrapper {
		background-color: #a5b4c2;
		height: auto;
		padding-top: 10px;
	}
	
	.v-grid-programas-jt > div > div {
		padding: 5px;
	}	
	
	
	.v-grid-programas-jt > div > div > div {
		width: 100% !important;
	}
	
	.v-grid-programas-jt > div > div > div:not(:last-child) {
		border-right: none;
	}
	
	div.v-grid-programas-jt > div > div > div {
		height: auto;
	}
	
	.v-grid-programas-jt > div > div > div > div > div > a > img {
		width: 200px;
		height: 100%;
	}
	
	div.v-grid-iniciativas-do-tribunal > footer > div > div > div > div.views-col.col-6 {
		clear: both;
	}
	
	div.v-grid-iniciativas-do-tribunal > footer > div > div > div > div:nth-child(1n+6) {
		margin-top: 20px;
	}
	
}