
/*
**    Exposed Fields
*/
.views-exposed-form > .form-item {
    float: left;
    margin: 0 10px 7px 0;
}

.views-exposed-form > .form-item > label {
    width: 100%;
    display: block;
    color: rgb(102, 102, 102);
}

.views-exposed-form > .form-item > select {
    padding: 6px;
    font-size: 13px;
}

/*
**    Views for tables
*/

.views-table table {
    width: 100%;
}

.views-table table caption {
    background: #303c49 none repeat scroll 0 0;
    box-shadow: 0 0px 3px inset;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

.views-table table td {
    border: 1px solid #DBDBDB;
    color: #747474;
}

/*
**    Views for accordion
*/

.views-accordion .views-exposed-form {
    height: 70px;
}

.views-accordion .views-exposed-form .form-submit {
    margin-top: 20px;
}

/**/

.v-grid-iniciativas-do-tribunal:nth-child(1) {
	margin-top: 30px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div {
	text-align: center;
}

.views-field-field-servicos-adicionais-imagem img {
	width: 40px;
	height:auto;
	text-align: center;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(1) {
	margin-top: 15px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(4),
div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(7) {
	margin-top: 10px;
}

div.v-grid-iniciativas-do-tribunal > div > div > div:nth-child(9) .views-field-field-servicos-adicionais-imagem img {
	width: 30px;
}

div.views-field.views-field-title a:hover {
	text-decoration: none;
	border-bottom: none;
	color: #01426a
}

.v-grid-iniciativas-do-tribunal > div > div > div > .views-field-title {
	text-align: center;
	margin-top: 5px;
}